In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
pd.set_option('display.max_columns', 200)

In [228]:
path = 'C:/Users/wjssm/Desktop/kaggle/competition/Elo_Merchant_Category_Recommendation/data/'
transaction = pd.read_pickle(path + 'merged_transaction.pkl')
transaction.head()

MemoryError:

In [187]:
train = pd.read_csv(path + 'train.csv')
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [219]:
train['target_out'] = 0
train.loc[train.target<-33, 'target_out'] =1
train.head()

,first_active_month,feature_1,feature_2,feature_3,target,authorized_flag_new,installments_new,month_lag_new,purchase_amount_new,target_out
card_id,,,,,,,,,,
C_ID_92a2005557,2017-06,5,2,1,-0.820283,1,1,1,1,0
C_ID_3d0044924f,2017-01,4,1,0,0.392913,1,1,1,1,0
C_ID_d639edf6cd,2016-08,2,2,0,0.688056,1,0,1,0,0
C_ID_186d6a6901,2017-09,4,3,0,0.142495,1,1,1,1,0
C_ID_cdbd2c0db2,2017-11,1,3,0,-0.159749,1,1,1,1,0

In [168]:
#transaction data 중 train data에 있는 데이터만 뽑음
train_transaction = transaction.loc[transaction['card_id'].isin(train['card_id'].tolist()),:]
train_transaction.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,target_out
0,1,C_ID_00007093c1,244,N,2,C,705,M_ID_69423b34e4,-12,0.037176,2017-02-14 14:00:43,3.0,2,33,0
1,1,C_ID_00007093c1,244,N,1,B,705,M_ID_a33355a1b7,-12,-0.467415,2017-02-14 15:47:45,3.0,2,33,0
2,1,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-12,-0.572600,2017-02-16 15:37:58,3.0,2,19,0
3,1,C_ID_00007093c1,244,N,3,C,705,M_ID_a33355a1b7,-12,-0.331575,2017-02-20 12:19:01,3.0,2,33,0
4,1,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.483944,2017-03-03 00:24:15,3.0,2,19,0

In [171]:
train_transaction.shape

(19249694, 15)

In [172]:
train_transaction['target_out'] = 0
train_transaction.loc[train_transaction['card_id'].isin(train.loc[train.target_out == 1, 'card_id'].tolist()),'target_out'] = 1
train_transaction['target_out'].value_counts()

0    19062128
1      187566
Name: target_out, dtype: int64

In [173]:
187566/19062128

0.009839719888566481

In [175]:
train_transaction.columns

Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'category_3', 'merchant_category_id', 'merchant_id', 'month_lag',
       'purchase_amount', 'purchase_date', 'category_2', 'state_id',
       'subsector_id', 'target_out'],
      dtype='object')

In [174]:
train_transaction.loc[train_transaction.authorized_flag == 'Y', 'authorized_flag'] = 1
train_transaction.loc[train_transaction.authorized_flag == 'N', 'authorized_flag'] = 0

C:\Users\wjssm\Anaconda3\lib\site-packages\pandas\core\ops.py:1164: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [177]:
num_cols = ['authorized_flag', 'installments','month_lag','purchase_amount']

for col in num_cols :
    print('--------')
    print(col)
    print('전체 평균',train_transaction[col].mean())
    print(train_transaction.groupby(['target_out'])[col].mean())

--------
authorized_flag
전체 평균 0.918862918028723
target_out
0    0.919540
1    0.850053
Name: authorized_flag, dtype: float64
--------
installments
전체 평균 0.6501106978635608
target_out
0    0.646445
1    1.022696
Name: installments, dtype: float64
--------
month_lag
전체 평균 -4.103993393349525
target_out
0   -4.104606
1   -4.041740
Name: month_lag, dtype: float64
--------
purchase_amount
전체 평균 0.11632920337419776
target_out
0    0.116230
1    0.126445
Name: purchase_amount, dtype: float64

In [189]:
col

'purchase_amount'

In [196]:
train_transaction.loc[train_transaction[col] > train_transaction[col].mean(), 'card_id'].unique()

array(['C_ID_00007093c1', 'C_ID_0001506ef0', 'C_ID_000183fdda', ...,
       'C_ID_fffe78b232', 'C_ID_fffea6de74', 'C_ID_fffeed3a89'],
      dtype=object)

In [199]:
train.set_index('card_id',inplace=True)

In [200]:
card_id_list = train_transaction.loc[train_transaction[col] > train_transaction[col].mean(), 'card_id'].unique()

In [203]:
train.head()

                first_active_month  feature_1  feature_2  feature_3    target
card_id
C_ID_92a2005557            2017-06          5          2          1 -0.820283
C_ID_3d0044924f            2017-01          4          1          0  0.392913
C_ID_d639edf6cd            2016-08          2          2          0  0.688056
C_ID_186d6a6901            2017-09          4          3          0  0.142495
C_ID_cdbd2c0db2            2017-11          1          3          0 -0.159749

In [214]:
for col in num_cols :
    train[col+'_new'] = 0
    card_id_list = train_transaction.loc[train_transaction[col] > train_transaction[col].mean(), 'card_id'].unique()
    train.loc[card_id_list,col+'_new'] = 1

In [215]:
train.head()

,first_active_month,feature_1,feature_2,feature_3,target,authorized_flag_new,installments_new,month_lag_new,purchase_amount_new
card_id,,,,,,,,,
C_ID_92a2005557,2017-06,5,2,1,-0.820283,1,1,1,1
C_ID_3d0044924f,2017-01,4,1,0,0.392913,1,1,1,1
C_ID_d639edf6cd,2016-08,2,2,0,0.688056,1,0,1,0
C_ID_186d6a6901,2017-09,4,3,0,0.142495,1,1,1,1
C_ID_cdbd2c0db2,2017-11,1,3,0,-0.159749,1,1,1,1

In [184]:
train_transaction.groupby(['card_id'])['authorized_flag'].mean()

card_id
C_ID_00007093c1    0.768212
C_ID_0001506ef0    0.941176
C_ID_000183fdda    0.954839
C_ID_00027503e2    0.571429
C_ID_0002c7c2c1    0.876712
C_ID_0003be3c83    0.858757
C_ID_00042d509c    0.312500
C_ID_0004888ddd    0.883721
C_ID_0004b68c49    1.000000
C_ID_0004c2a5ab    0.960000
C_ID_0005b2f279    1.000000
C_ID_0005b5804f    1.000000
C_ID_0005f16cc8    0.891026
C_ID_0006152db8    0.886364
C_ID_000616f4a8    0.953488
C_ID_000664aa02    1.000000
C_ID_00079fec55    0.823529
C_ID_0007a60a33    0.656250
C_ID_0007fe3157    0.950495
C_ID_000844d8f1    0.975610
C_ID_000950bc78    1.000000
C_ID_00099cb909    0.916667
C_ID_0009ae74c1    0.903226
C_ID_0009d25138    0.923077
C_ID_0009ef1dc2    1.000000
C_ID_000a6044e9    0.913043
C_ID_000a9864df    1.000000
C_ID_000acab1f6    0.969697
C_ID_000b13135b    0.836538
C_ID_000b503737    0.895000
                     ...
C_ID_fffa2280c9    0.840000
C_ID_fffa362304    0.800000
C_ID_fffa99d1da    0.987500
C_ID_fffadd3551    0.935484
C_ID_fffaed41f0    1.000000
C_ID_fffb59b27a    1.000000
C_ID_fffb67f260    0.761905
C_ID_fffb79fb56    1.000000
C_ID_fffb9ea3f6    0.724138
C_ID_fffba72dc5    0.891566
C_ID_fffbee5c24    0.925926
C_ID_fffc96bf24    0.927273
C_ID_fffcf66e12    0.971429
C_ID_fffd070e0e    0.866667
C_ID_fffd1207a8    0.959209
C_ID_fffd24dcf3    0.956522
C_ID_fffd351e7f    0.919540
C_ID_fffd93c8bf    0.952381
C_ID_fffdad8aa0    0.949640
C_ID_fffde15ab6    0.879518
C_ID_fffdf34798    1.000000
C_ID_fffe29a04a    0.967033
C_ID_fffe78b232    0.969613
C_ID_fffe866457    0.954545
C_ID_fffea6de74    0.980723
C_ID_fffeced303    0.884211
C_ID_fffeed3a89    0.986301
C_ID_ffff579d3a    0.869565
C_ID_ffff828181    0.878788
C_ID_fffffd5772    0.896552
Name: authorized_flag, Length: 201917, dtype: float64

In [178]:
train_transaction.columns

Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'category_3', 'merchant_category_id', 'merchant_id', 'month_lag',
       'purchase_amount', 'purchase_date', 'category_2', 'state_id',
       'subsector_id', 'target_out'],
      dtype='object')

In [183]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,target_out
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,0
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,0
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,0
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,0
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,0

In [180]:
%who

KFold	 LGBMRegressor	 a	 cat_cols	 col	 cv	 df_cv	 df_train	 f1_score
i	 idx_cv	 idx_train	 ip	 jupyternotify	 lgb	 mode	 np	 num_cols
path	 pd	 plt	 stats	 test	 test2	 time	 train	 train_transaction
x_cv	 x_test	 x_train	 y_cv	 y_cv_pred	 y_test	 y_train	 y_train_pred

In [158]:
from scipy import stats
def mode(x):
    return stats.mode(x)[1][0]

In [179]:
cat_cols = ['city_id', 'category_1','category_3','merchant_category_id','merchant_id','category_2','state_id','subsector_id']

for col in cat_cols :
    print('--------')
    print(col)
    print('전체 mode',train_transaction[col].mode())
    print(train_transaction.groupby(['target_out'])[col].value_counts())

--------
city_id
전체 mode 0    69
dtype: int64
target_out  city_id
0            69        3175659
            -1         1553675
             19         750381
             158        731042
             17         623060
             331        467874
             143        439694
             88         427917
             137        393203
             333        359891
             87         301490
             212        270349
             57         249840
             233        234733
             25         234452
             149        233223
             160        214683
             117        211213
             277        165664
             213        164058
             286        153476
             76         142800
             107        138004
             4          135923
             291        135011
             20         134447
             53         134108
             140        131301
             344        115800
             161        111115
                        ...
1            205            16
             347            15
             49             14
             186            14
             310            13
             335            13
             123            12
             298            11
             269             9
             77              7
             215             7
             342             7
             28              6
             105             6
             112             6
             254             6
             338             6
             40              5
             222             5
             255             5
             114             4
             203             4
             68              3
             315             3
             65              2
             104             2
             206             2
             221             2
             306             2
             178             1
Name: city_id, Length: 611, dtype: int64
--------
category_1
전체 mode 0    N
dtype: object
target_out  category_1
0           N             17769659
            Y              1292469
1           N               152823
            Y                34743
Name: category_1, dtype: int64
--------
category_3
전체 mode 0    A
dtype: object
target_out  category_3
0           A             10068645
            B              7631732
            C              1217400
1           B               110585
            A                56422
            C                19713
Name: category_3, dtype: int64
--------
merchant_category_id
전체 mode 0    705
dtype: int64
target_out  merchant_category_id
0           705                     3515707
            307                     1998341
            278                     1484915
            80                      1272242
            367                     1058710
            879                      899692
            560                      720211
            683                      540725
            437                      435837
            690                      307105
            884                      285005
            839                      272302
            108                      210492
            842                      207054
            68                       205458
            506                      198717
            511                      194625
            222                      194256
            561                      181088
            755                      178051
            422                      172631
            454                      171233
            195                      156804
            45                       152718
            360                      147549
            309                      147208
            661                      130149
            557                      125124
            818                      121367
            87                       119963
                                     ...
1           889                           3
            16                            2
            52                            2
            83                            2
            109                           2
            119                           2
            141                           2
            247                           2
            401                           2
            448                           2
            457                           2
            482                           2
            513                           2
            551                           2
            662                           2
            668                           2
            676                           2
            780                           2
            187                           1
            190                           1
            249                           1
            261                           1
            343                           1
            580                           1
            587                           1
            599                           1
            628                           1
            648                           1
            686                           1
            878                           1
Name: merchant_category_id, Length: 597, dtype: int64
--------
merchant_id
전체 mode 0    M_ID_00a6ca8a8a
dtype: object
target_out  merchant_id
0           M_ID_00a6ca8a8a    698429
            M_ID_e5374dabc0    261735
            M_ID_9139332ccc    228899
            M_ID_50f575c681    121999
            M_ID_fc7d7969c3    109550
            M_ID_5ba019a379    106201
            M_ID_f86439cec0     70050
            M_ID_1f4773aa76     67944
            M_ID_cd2c0b07e9     60988
            M_ID_98b342c0e3     60241
            M_ID_86be58d7e0     59742
            M_ID_d855771cd9     53541
            M_ID_6f274b9340     47981
            M_ID_b9dcf28cb9     47412
            M_ID_57df19bf28     45730
            M_ID_b98db225f5     44569
            M_ID_2637773dd2     42709
            M_ID_445742726b     42050
            M_ID_82a30d9203     42015
            M_ID_3111c6df35     33591
            M_ID_940fb4498f     33427
            M_ID_c03b62d83d     32484
            M_ID_a9d91682ad     30775
            M_ID_820c7b73c8     30480
            M_ID_b5b80addf5     29979
            M_ID_7c5e93af2f     27425
            M_ID_deb43ff012     25997
            M_ID_48257bb851     25187
            M_ID_1ac6bbc867     24809
            M_ID_8fadd601d2     24093
                                ...
1           M_ID_ffa67f9c46         1
            M_ID_ffa95f7ede         1
            M_ID_ffa9c9ee36         1
            M_ID_ffaa088dd5         1
            M_ID_ffb16c9cea         1
            M_ID_ffb3b2371c         1
            M_ID_ffb52e7cf2         1
            M_ID_ffb6c77fa1         1
            M_ID_ffb7866281         1
            M_ID_ffbb47baad         1
            M_ID_ffbdf9ec03         1
            M_ID_ffc1ff3c51         1
            M_ID_ffc41650b3         1
            M_ID_ffc7261e4e         1
            M_ID_ffc7d0ac83         1
            M_ID_ffc8074727         1
            M_ID_ffc88b2e80         1
            M_ID_ffcd54e2d6         1
            M_ID_ffcd60fefd         1
            M_ID_ffce4fadfc         1
            M_ID_ffcef8ae2f         1
            M_ID_ffcf9e265a         1
            M_ID_ffdb07365f         1
            M_ID_ffdc4ff385         1
            M_ID_ffdfa48d46         1
            M_ID_ffe35779f6         1
            M_ID_ffe42c434d         1
            M_ID_ffe8609f4f         1
            M_ID_fff2de07df         1
            M_ID_fff6541e56         1
Name: merchant_id, Length: 351643, dtype: int64
--------
category_2
전체 mode 0    1.0
dtype: float64
target_out  category_2
0           1.0           9991230
            3.0           2584189
            5.0           2438546
            4.0           1710353
            2.0            669264
1           1.0             86507
            3.0             21185
            4.0             18363
            5.0             16549
            2.0              7065
Name: category_2, dtype: int64
--------
state_id

전체 mode 0    9
dtype: int64
target_out  state_id
0            9          6960087
            -1          1668546
             16         1407334
             15         1366491
             5          1084622
             19          790763
             20          732814
             22          623060
             21          621110
             4           558022
             11          423568
             7           420894
             13          415226
             3           356998
             12          257318
             18          256119
             2           247442
             1           165579
             10          142570
             24          134378
             23          131761
             14          114045
             8           102621
             17           76324
             6             4436
1            9            56333
            -1            37897
             15           14351
             16           12694
             22            7241
             5             7182
             19            6163
             4             5604
             20            5417
             13            4532
             11            4051
             21            3950
             3             3825
             12            3129
             24            2541
             7             2335
             2             2073
             18            1750
             10            1684
             8             1184
             23            1055
             14             986
             1              870
             17             684
             6               35
Name: state_id, dtype: int64
--------
subsector_id
전체 mode 0    33
dtype: int64
target_out  subsector_id
0            33             3542645
             37             2986472
             19             2058458
             34             1812346
             29             1808629
             27             1135181
             16             1086809
             21              557448
             1               467747
             7               467721
             15              435837
             8               335560
             18              268681
             36              226408
             20              206786
             30              198717
             25              171662
             39              171233
             12              130233
             41              128043
             22              116019
             31               97298
             17               95381
             32               89611
             2                77168
             38               62763
             10               55690
             3                54223
             9                52096
             4                39092
                             ...
1            22                3541
             15                3163
             18                2394
             36                2059
             30                1985
             20                1977
             25                1897
             39                1291
             31                1145
             41                1136
             12                1119
             32                 864
             3                  772
             17                 751
             2                  707
             38                 685
             10                 534
             9                  467
             35                 372
             4                  339
             26                 289
             5                  257
             40                 244
             23                 131
             13                 130
             24                  91
             14                  54
            -1                   45
             11                  15
             28                   1
Name: subsector_id, Length: 82, dtype: int64

In [ ]:
transaction.groupby(['target_out'])['authorized_flag'].mean()

In [48]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score

# training

In [220]:
cv = KFold(5, shuffle=True, random_state=0)

In [221]:
lgb = LGBMRegressor()

In [123]:
path = 'C:/Users/wjssm/Desktop/kaggle/competition/Elo_Merchant_Category_Recommendation/data/'
test = pd.read_csv(path + 'testFE_0213.csv')
test.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,first_active,first_active_year,first_active_quarter,first_active_weekofyear,first_active_dayofweek,first_active_elapsed_time_from_trade,first_active_elapsed_time_from_today,first_active_total_day,days_feature1_trade,days_feature2_trade,days_feature3_trade,days_feature1_trade_ratio,days_feature2_trade_ratio,days_feature3_trade_ratio,feature_sum,feature_mean,feature_max,feature_min,feature_var
0,4.0,C_ID_0ab67a22ab,3,3,1,2017-04-01,2017.0,2.0,13.0,5.0,394.0,682.0,17257.0,1182.0,1182.0,394.0,0.007614,0.007614,0.002538,7,2.333333,3,1,1.154701
1,1.0,C_ID_130fd0cbdd,2,3,0,2017-01-01,2017.0,1.0,52.0,6.0,484.0,772.0,17167.0,968.0,1452.0,0.0,0.004132,0.006198,0.000000,5,1.666667,3,0,1.527525
2,8.0,C_ID_b709037bc5,5,1,1,2017-08-01,2017.0,3.0,31.0,1.0,272.0,560.0,17379.0,1360.0,272.0,272.0,0.018382,0.003676,0.003676,7,2.333333,5,1,2.309401
3,12.0,C_ID_d27d835a9f,2,1,0,2017-12-01,2017.0,4.0,48.0,4.0,150.0,438.0,17501.0,300.0,150.0,0.0,0.013333,0.006667,0.000000,3,1.000000,2,0,1.000000
4,12.0,C_ID_2b5e3df5c2,5,1,1,2015-12-01,2015.0,4.0,49.0,1.0,881.0,1169.0,16770.0,4405.0,881.0,881.0,0.005675,0.001135,0.001135,7,2.333333,5,1,2.309401

In [222]:
for col in num_cols :
    test[col+'_new'] = 0
    card_id_list = train_transaction.loc[train_transaction[col] > train_transaction[col].mean(), 'card_id'].unique()
    train.loc[card_id_list,col+'_new'] = 1

,first_active_month,feature_1,feature_2,feature_3,target,authorized_flag_new,installments_new,month_lag_new,purchase_amount_new,target_out
card_id,,,,,,,,,,
C_ID_92a2005557,2017-06,5,2,1,-0.820283,1,1,1,1,0
C_ID_3d0044924f,2017-01,4,1,0,0.392913,1,1,1,1,0
C_ID_d639edf6cd,2016-08,2,2,0,0.688056,1,0,1,0,0
C_ID_186d6a6901,2017-09,4,3,0,0.142495,1,1,1,1,0
C_ID_cdbd2c0db2,2017-11,1,3,0,-0.159749,1,1,1,1,0

In [224]:
for i, (idx_train, idx_cv) in enumerate(cv.split(train)):
    df_train = train.iloc[idx_train]
    df_cv = train.iloc[idx_cv]
    
    x_train = df_train.drop(['target_out','first_active_month'], axis=1)
    y_train = df_train['target_out']
    
    x_cv = df_cv.drop(['target_out','first_active_month'], axis=1)
    y_cv = df_cv['target_out']
    
    lgb.fit(x_train, y_train)
    
    y_train_pred = lgb.predict(x_train)
    y_train_pred[y_train_pred>=0.75] = 1; y_train_pred[y_train_pred<0.75] = 0
    y_cv_pred = lgb.predict(x_cv)
    y_cv_pred[y_cv_pred>=0.75] = 1; y_cv_pred[y_cv_pred<0.75] = 0
    print("[K = {}] train f1 = {}, cv f1= {}".format(i, f1_score(y_train,y_train_pred), f1_score(y_cv,y_cv_pred)))

[K = 0] train f1 = 1.0, cv f1= 1.0
[K = 1] train f1 = 1.0, cv f1= 1.0
[K = 2] train f1 = 1.0, cv f1= 1.0
[K = 3] train f1 = 1.0, cv f1= 1.0
[K = 4] train f1 = 1.0, cv f1= 1.0

# test

In [ ]:
#test data에도 똑같이 적용해서 해볼것

In [225]:
test = pd.read_csv(path + 'test.csv')
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [227]:
test.columns

Index(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3'], dtype='object')

In [ ]:
#transaction data 중 test data에 있는 데이터만 뽑음
test_transaction = transaction.loc[transaction['card_id'].isin(test['card_id'].tolist()),:]
test_transaction.head()
del transaction

In [234]:
%who

KFold	 LGBMRegressor	 a	 card	 card_id_list	 cat_cols	 col	 cv	 df_cv
df_train	 i	 idx_cv	 idx_train	 ip	 jupyternotify	 lgb	 mode	 np
num_cols	 path	 pd	 plt	 stats	 test	 test2	 time	 train
train_transaction	 x_cv	 x_test	 x_train	 y_cv	 y_cv_pred	 y_test	 y_train

In [237]:
del train_transaction

In [107]:
x_test = test.drop(['card_id','first_active'], axis = 1)
x_test.shape

(123623, 22)

In [109]:
df_train.shape

(161534, 38)

In [108]:
y_test = lgb.predict(x_test)
y_test[y_test>=0.75] = 1; y_test[y_test<0.75] = 0

ValueError: Number of features of the model must match the input. Model n_features_ is 35 and input n_features is 22

In [83]:
path = 'C:/Users/wjssm/Desktop/kaggle/competition/Elo_Merchant_Category_Recommendation/'

In [84]:
test2 = pd.read_csv(path + '190205_lgb.csv')

In [86]:
y_test[y_test==1]

array([1., 1., 1., ..., 1., 1., 1.])

In [96]:
x_test.shape

(161534, 35)

In [94]:
y_test.shape

(161534,)

In [95]:
test2.shape

(123623, 2)

In [93]:
pd.concat([test2, pd.DataFrame({'y_test' : y_test})], axis = 1)

                card_id    target  y_test
0       C_ID_0ab67a22ab -5.288321     0.0
1       C_ID_130fd0cbdd -0.538509     0.0
2       C_ID_b709037bc5  0.021150     0.0
3       C_ID_d27d835a9f -0.213703     0.0
4       C_ID_2b5e3df5c2 -0.221106     0.0
5       C_ID_5814b4f13c  0.352866     0.0
6       C_ID_a1b3c75277 -0.225538     0.0
7       C_ID_f7cada36d3  0.371700     0.0
8       C_ID_9d2bc8dfc4  0.057166     0.0
9       C_ID_6d8dba8475 -1.731717     0.0
10      C_ID_4859ac9ed5 -1.143330     0.0
11      C_ID_0e281e8ad6 -0.164527     0.0
12      C_ID_8375dfdaa2 -0.151282     0.0
13      C_ID_79d149c008  0.007621     0.0
14      C_ID_7f1041e8e1 -4.084937     0.0
15      C_ID_f72513589e -0.032579     0.0
16      C_ID_a7f2d6984e  0.806314     0.0
17      C_ID_15489b42d3 -0.200028     0.0
18      C_ID_e457bbd71d -0.546212     0.0
19      C_ID_3f74e10c7e -0.416379     0.0
20      C_ID_48243da9c4 -0.073709     0.0
21      C_ID_7ea1fcf117 -0.261015     0.0
22      C_ID_22e4a47c72 -2.451628     0.0
23      C_ID_5d30729184  0.091783     0.0
24      C_ID_b54cfad8b2 -1.092727     0.0
25      C_ID_4b82e26faa -0.324771     0.0
26      C_ID_60a453531a -0.046749     0.0
27      C_ID_0c9315feec -0.271595     0.0
28      C_ID_1e28804d36 -0.411406     0.0
29      C_ID_68de79f7e2  0.068391     0.0
...                 ...       ...     ...
161504              NaN       NaN     0.0
161505              NaN       NaN     0.0
161506              NaN       NaN     0.0
161507              NaN       NaN     0.0
161508              NaN       NaN     0.0
161509              NaN       NaN     0.0
161510              NaN       NaN     0.0
161511              NaN       NaN     0.0
161512              NaN       NaN     0.0
161513              NaN       NaN     0.0
161514              NaN       NaN     0.0
161515              NaN       NaN     0.0
161516              NaN       NaN     0.0
161517              NaN       NaN     0.0
161518              NaN       NaN     0.0
161519              NaN       NaN     0.0
161520              NaN       NaN     0.0
161521              NaN       NaN     0.0
161522              NaN       NaN     0.0
161523              NaN       NaN     0.0
161524              NaN       NaN     0.0
161525              NaN       NaN     0.0
161526              NaN       NaN     0.0
161527              NaN       NaN     0.0
161528              NaN       NaN     0.0
161529              NaN       NaN     0.0
161530              NaN       NaN     0.0
161531              NaN       NaN     0.0
161532              NaN       NaN     0.0
161533              NaN       NaN     0.0

[161534 rows x 3 columns]

In [ ]:
#new에 없을수록 -33d으로 예측될 확률이 두배 높다.

In [ ]:
transaction.

In [7]:
for col in transaction.card_id.tolist() :
    if col in target_out.card_id.tolist() :
        transaction.loc[transaction.card_id == col, ]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [10]:
transaction.loc[transaction.card_id == target_out.card_id.tolist(), :]

ValueError: Arrays were different lengths: 31075392 vs 2207