In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
#id 변수 모두 character처리
merchant = pd.read_csv('C:/Users/wjssm/Desktop/kaggle/Elo_Merchant_Category_Recommendation/data/merchants.csv',
                         dtype = {'city_id':np.str, 'merchant_category_id':np.str, 'subsector_id':np.str,
                                  'merchant_id':np.str,'state_id':np.str, 'merchant_group_id':np.str})
merchant.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [4]:
merchant.shape

(334696, 22)

In [17]:
merchant.isnull().sum()

merchant_id                        0
merchant_group_id                  0
merchant_category_id               0
subsector_id                       0
numerical_1                        0
numerical_2                        0
category_1                         0
most_recent_sales_range            0
most_recent_purchases_range        0
avg_sales_lag3                    13
avg_purchases_lag3                 0
active_months_lag3                 0
avg_sales_lag6                    13
avg_purchases_lag6                 0
active_months_lag6                 0
avg_sales_lag12                   13
avg_purchases_lag12                0
active_months_lag12                0
category_4                         0
city_id                            0
state_id                           0
category_2                     11887
dtype: int64

In [18]:
merchant.describe()

,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_2
count,334696.000000,334696.000000,334683.000000,3.346960e+05,334696.000000,3.346830e+05,3.346960e+05,334696.000000,3.346830e+05,3.346960e+05,334696.000000,322809.000000
mean,0.011476,0.008103,13.832993,inf,2.994108,2.165079e+01,inf,5.947397,2.522771e+01,inf,11.599335,2.380002
std,1.098154,1.070497,2395.489999,NaN,0.095247,3.947108e+03,NaN,0.394936,5.251842e+03,NaN,1.520138,1.562661
min,-0.057471,-0.057471,-82.130000,3.334953e-01,1.000000,-8.213000e+01,1.670447e-01,1.000000,-8.213000e+01,9.832954e-02,1.000000,1.000000
25%,-0.057471,-0.057471,0.880000,9.236499e-01,3.000000,8.500000e-01,9.022475e-01,6.000000,8.500000e-01,8.983333e-01,12.000000,1.000000
50%,-0.057471,-0.057471,1.000000,1.016667e+00,3.000000,1.010000e+00,1.026961e+00,6.000000,1.020000e+00,1.043361e+00,12.000000,2.000000
75%,-0.047556,-0.047556,1.160000,1.146522e+00,3.000000,1.230000e+00,1.215575e+00,6.000000,1.290000e+00,1.266480e+00,12.000000,4.000000
max,183.735111,182.079322,851844.640000,inf,3.000000,1.513959e+06,inf,6.000000,2.567408e+06,inf,12.000000,5.000000

In [19]:
#avg_sales_lag3, avg_sales_lag6, avg_sales_lag12 NA값이 정확히 겹침
merchant.loc[merchant['avg_sales_lag3'].isnull(), :]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,3.666667,6,NaN,3.833333,12,Y,160,21,5.0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,N,E,E,NaN,...,NaN,4.833333,6,NaN,6.333333,12,N,60,16,1.0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,N,E,E,NaN,...,NaN,189.916667,6,NaN,197.000000,7,N,248,15,1.0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,N,-1,9,1.0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,88,16,1.0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.000000,1,NaN,1.000000,1,Y,158,15,1.0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.666667,3,NaN,1.666667,3,N,-1,16,1.0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN

In [20]:
merchant.corr()
#numerical_1 numerical_2 -> 0.998749
#avg_purchases_lag3 avg_purchases_lag6 -> 0.996669
#avg_purchases_lag3 avg_purchases_lag12 -> 0.989830

,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_2
numerical_1,1.000000,0.998749,-0.000334,-0.000289,0.003837,-0.000326,-0.000476,0.008177,-0.000288,-0.000642,0.016001,-0.005443
numerical_2,0.998749,1.000000,-0.000326,-0.000281,0.003760,-0.000318,-0.000466,0.008038,-0.000281,-0.000630,0.015758,-0.005634
avg_sales_lag3,-0.000334,-0.000326,1.000000,0.616581,0.000295,0.818022,0.615270,-0.001523,0.634283,0.612145,-0.005169,-0.002339
avg_purchases_lag3,-0.000289,-0.000281,0.616581,1.000000,-0.000197,0.339470,0.996669,-0.001472,0.228504,0.989830,-0.006785,-0.001466
active_months_lag3,0.003837,0.003760,0.000295,-0.000197,1.000000,0.000302,-0.000029,0.703748,0.000269,0.000102,0.412831,-0.001217
avg_sales_lag6,-0.000326,-0.000318,0.818022,0.339470,0.000302,1.000000,0.339808,-0.000897,0.958423,0.338576,-0.003348,-0.002732
avg_purchases_lag6,-0.000476,-0.000466,0.615270,0.996669,-0.000029,0.339808,1.000000,-0.001474,0.229049,0.997549,-0.008729,-0.001425
active_months_lag6,0.008177,0.008038,-0.001523,-0.001472,0.703748,-0.000897,-0.001474,1.000000,-0.000583,-0.001342,0.755024,0.000849
avg_sales_lag12,-0.000288,-0.000281,0.634283,0.228504,0.000269,0.958423,0.229049,-0.000583,1.000000,0.228596,-0.002295,-0.002470
avg_purchases_lag12,-0.000642,-0.000630,0.612145,0.989830,0.000102,0.338576,0.997549,-0.001342,0.228596,1.000000,-0.009122,-0.001599
active_months_lag12,0.016001,0.015758,-0.005169,-0.006785,0.412831,-0.003348,-0.008729,0.755024,-0.002295,-0.009122,1.000000,-0.001889
category_2,-0.005443,-0.005634,-0.002339,-0.001466,-0.001217,-0.002732,-0.001425,0.000849,-0.002470,-0.001599,-0.001889,1.000000