In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
path = 'C:/Users/wjssm/Desktop/kaggle/Elo_Merchant_Category_Recommendation/data/'

train = pd.read_csv(path + 'train.csv') #key : card_id
test = pd.read_csv(path + 'test.csv') #key : card_id
history = pd.read_csv(path+'historical_transactions.csv') #key : card_id, merchant_id
new_history = pd.read_csv(path+'new_merchant_transactions.csv') #key : card_id, merchant_id
merchant = pd.read_csv(path+'merchants.csv') #key : merchant_id

In [5]:
train['year'] = pd.DatetimeIndex(train['first_active_month']).year
train['month'] = pd.DatetimeIndex(train['first_active_month']).month

test['year'] = pd.DatetimeIndex(test['first_active_month']).year
test['month'] = pd.DatetimeIndex(test['first_active_month']).month

In [6]:
#test data에서의 NA어떻게 할지...
test.loc[test.first_active_month.isnull(),:]

,first_active_month,card_id,feature_1,feature_2,feature_3,year,month
11578,NaN,C_ID_c27b4f80f7,5,2,1,NaN,NaN

In [7]:
#최빈값으로 채움
test.loc[test.card_id == 'C_ID_c27b4f80f7', 'year'] = 2017
test.loc[test.card_id == 'C_ID_c27b4f80f7', 'month'] = 12

In [8]:
train['year'] = train['year'].astype('category')
train['month'] = train['month'].astype('category')
test['year'] = test['year'].astype('category')
test['month'] = test['month'].astype('category')

### new_feature : transaction_count  카드 아이디별 거래 건수

In [9]:
#history card_id 별 거래수
trasaction_count = history.groupby(['card_id'])['authorized_flag'].count().reset_index(name = 'trasaction_count')
trasaction_count.head()

           card_id  trasaction_count
0  C_ID_00007093c1               149
1  C_ID_0001238066               123
2  C_ID_0001506ef0                66
3  C_ID_0001793786               216
4  C_ID_000183fdda               144

### history - installments outlier

In [27]:
history['installments'].value_counts()

 0      15411747
 1      11677522
 2        666416
 3        538207
 4        179525
-1        178159
 6        132634
 10       118827
 5        116090
 12        55064
 8         20474
 7         10906
 9          5772
 11          830
 999         188
Name: installments, dtype: int64

### 1. installments : one of a series of regular payments that you make until you have paid all the money you owe

In [28]:
history.loc[history['installments']==999, :]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
227606,N,C_ID_8b04d4734e,210,N,999,C,806,M_ID_0155450c84,-11,6.237415,2017-03-28 19:40:50,1.0,16,9
466436,N,C_ID_7670e569a0,333,N,999,C,813,M_ID_c9526f2dd3,-10,-0.443673,2017-04-12 21:06:28,5.0,21,29
759501,N,C_ID_652976a4bb,19,N,999,C,356,M_ID_2570628257,-8,0.469038,2017-06-05 09:22:18,1.0,9,21
1182532,N,C_ID_24fb1a2959,331,N,999,C,117,M_ID_67a62f2671,-3,0.208778,2017-11-05 01:29:18,1.0,16,2
1198327,N,C_ID_3742a35e45,333,N,999,C,307,M_ID_5f46ec7f98,-8,-0.521510,2017-05-01 11:17:28,5.0,21,19
1221217,N,C_ID_ba84d050f5,19,N,999,C,884,M_ID_8e7a785122,-8,-0.296127,2017-06-25 16:09:55,1.0,9,27
1368209,N,C_ID_5b6278eb25,69,N,999,C,683,M_ID_f86439cec0,-6,-0.674179,2017-08-23 12:39:48,1.0,9,34
1682455,N,C_ID_51ab074d19,69,N,999,C,412,M_ID_dfc0be4604,-5,-0.100768,2017-09-15 17:42:57,1.0,9,18
1767608,N,C_ID_9cea123f42,181,N,999,C,90,M_ID_596749cc5a,0,-0.318652,2018-02-23 17:29:00,5.0,5,22
2063505,N,C_ID_0a3724504a,279,N,999,C,667,M_ID_45bfdc72e8,-4,-0.259147,2017-10-13 18:46:21,1.0,9,21
2897328,N,C_ID_67e9e2098e,137,N,999,C,222,M_ID_8ebde9a679,-4,0.271589,2017-08-25 15:30:52,3.0,19,21
3102968,N,C_ID_5e6e168169,87,N,999,C,427,M_ID_7571993ad6,-8,0.110956,2017-06-06 16:53:12,3.0,11,27
3128460,N,C_ID_c379d12476,42,N,999,C,419,M_ID_eaddfae8a1,-8,-0.611669,2017-06-13 17:28:35,3.0,19,1
3222000,N,C_ID_4058332475,170,N,999,C,412,M_ID_cbd3b06121,-7,-0.521510,2017-07-22 09:57:38,3.0,8,18
3323423,N,C_ID_ef6709bf85,190,N,999,C,225,M_ID_5cce2da9c8,-2,4.624259,2017-11-30 10:42:06,3.0,7,9
3440873,N,C_ID_c9d2343ab0,117,N,999,C,422,M_ID_5958549349,-10,-0.356218,2017-04-18 15:09:22,1.0,9,27
4024235,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 17:00:33,1.0,16,9
4024281,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 16:59:36,1.0,16,9
4574655,N,C_ID_a58276801c,19,N,999,C,87,M_ID_d0146c836a,-2,1.412402,2017-12-24 14:56:28,1.0,9,27
4631681,N,C_ID_eefb4d9fcc,302,N,999,C,68,M_ID_c24ebf2f81,-2,-0.025936,2017-12-20 09:58:19,3.0,7,27
4641754,N,C_ID_16a62038b8,87,N,999,C,333,M_ID_7d3938035b,-1,1.821589,2017-12-16 14:10:39,3.0,11,10
5273962,N,C_ID_f46fcb0feb,17,N,999,C,422,M_ID_6d999339f8,-12,-0.408811,2017-02-04 16:56:07,4.0,22,27
5299431,N,C_ID_85ea27e66e,1,N,999,C,87,M_ID_85198ffee4,-2,0.091421,2017-12-23 15:56:19,1.0,12,27
5850302,N,C_ID_478cd7cc91,69,N,999,C,87,M_ID_c700c6f928,0,-0.178154,2018-02-02 20:13:46,1.0,9,27
6222185,N,C_ID_dbd5f93456,158,N,999,C,222,M_ID_cd7124f247,-5,0.039910,2017-09-13 15:35:09,1.0,15,21
6781702,N,C_ID_7c97a8d5c3,200,N,999,C,605,M_ID_91ba5dc816,-4,-0.201836,2017-10-17 18:26:12,2.0,18,2
7257431,N,C_ID_262dee69d3,33,N,999,C,884,M_ID_d4157cc958,-4,-0.404454,2017-10-06 16:42:51,1.0,15,27
7430452,N,C_ID_98bd309e8b,69,N,999,C,332,M_ID_2bab22e85d,0,0.132143,2017-08-04 13:30:18,1.0,9,2
7456746,N,C_ID_4db57b6fc7,20,N,999,C,840,M_ID_0dacb1258d,-4,-0.341192,2017-10-20 13:04:19,3.0,19,20
8010607,N,C_ID_76859ed625,69,N,999,C,34,M_ID_c9714065ed,-8,1.657334,2017-06-03 10:35:51,1.0,9,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26770977,N,C_ID_b56b679112,320,N,999,C,298,M_ID_c7de7ae2ac,-2,-0.461404,2017-03-29 20:27:54,4.0,13,10
26973702,N,C_ID_41f4a5ebc5,69,N,999,C,529,M_ID_679a1d99ed,-5,1.747493,2017-09-07 15:50:35,1.0,9,20
27068686,N,C_ID_9bf3f8355f,19,N,999,C,705,M_ID_79532256ea,-6,-0.414521,2017-07-17 16:59:38,1.0,9,33
27078432,N,C_ID_0e00a3c5e2,333,N,999,C,705,M_ID_77e2942cd8,-1,-0.480984,2018-01-12 18:51:35,1.0,9,33
27138713,N,C_ID_a3c2a00954,6,N,999,C,34,M_ID_dc42409f14,-3,-0.437362,2017-11-24 14:50:49,1.0,9,38
27163381,N,C_ID_908f2207d2,79,N,999,C,80,M_ID_4b95af69c3,-11,4.812902,2017-03-27 03:18:20,1.0,12,37
27441288,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
27441292,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
27441309,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
27788908,N,C_ID_88798ca963,277,N,999,C,840,M_ID_4691ecd83e,-4,-0.491457,2017-10-27 17:38:03,4.0,13,20
27831437,N,C_ID_fe57f79f61,149,N,999,C,834,M_ID_efb1bcf509,0,-0.347203,2018-02-08 18:51:49,5.0,20,27
27871554,N,C_ID_6ac6dd5186,69,N,999,C,222,M_ID_5cea7e02a8,-5,0.522832,2017-07-29 11:58:42,1.0,9,21
27935666,N,C_ID_f4469d2e92,334,N,999,C,703,M_ID_12149ead3c,0,-0.486048,2018-02-16 17:19:10,5.0,20,29
28020816,N,C_ID_93fb16467d,210,N,999,C,422,M_ID_351ab44919,-4,-0.348705,2017-10-21 17:11:45,1.0,16,27
28041194,N,C_ID_ae7caea729,100,N,999,C,705,M_ID_cba0fd22f3,-5,-0.041368,2017-09-23 14:39:27,1.0,16,33
28182192,N,C_ID_c8cb6bd652,17,N,999,C,434,M_ID_0c9c0f995f,-11,-0.521510,2017-01-19 16:18:12,4.0,22,32
28258830,N,C_ID_0a0fcf2fc3,137,N,999,C,544,M_ID_a5e5e3e2cc,-5,-0.623690,2017-09-27 17:44:56,3.0,19,29
28366146,N,C_ID_45aa34458b,107,N,999,C,422,M_ID_29270ce27e,-2,-0.303626,2017-12-22 18:02:36,4.0,4,27
28496663,N,C_ID_791dc80be7,-1,N,999,C,33,M_ID_1ad4d3902b,-9,-0.441118,2017-05-10 14:21:21,NaN,-1,29
28601403,N,C_ID_180aa7cfd7,244,N,999,C,373,M_ID_f42c70fa36,-1,-0.521510,2017-08-17 11:57:09,3.0,2,18
28771480,N,C_ID_b3302b05e1,137,N,999,C,87,M_ID_085c1beb28,-3,1.139160,2017-11-01 21:56:18,3.0,19,27
28779995,N,C_ID_a2d38bdf60,169,N,999,C,309,M_ID_49c1fe5097,0,0.226810,2018-02-02 14:39:50,5.0,20,21
28814708,N,C_ID_d60c31581e,179,N,999,C,34,M_ID_261a413fca,0,0.530346,2018-02-16 11:37:32,NaN,-1,38
28880387,N,C_ID_5f57070e0c,301,N,999,C,33,M_ID_213b06cd61,-6,0.154683,2017-08-17 11:15:23,3.0,11,29
28902917,Y,C_ID_1947a910eb,174,N,999,C,840,M_ID_fcb061b2bf,-2,2.709190,2017-12-17 22:36:08,1.0,9,20
28978222,N,C_ID_730f3751de,117,N,999,C,68,M_ID_9a67369473,-1,0.440187,2017-12-13 12:22:29,1.0,9,27
28996126,N,C_ID_05240c2353,289,N,999,C,60,M_ID_dc44de5cf9,-2,0.697140,2017-08-30 11:35:02,5.0,5,13
29012755,N,C_ID_2c1f702b6a,330,N,999,C,309,M_ID_ff8fdb0abf,-7,-0.452388,2017-07-21 11:11:05,3.0,17,21
29018065,Y,C_ID_6715eccea8,174,N,999,C,840,M_ID_fcb061b2bf,-2,0.491983,2017-11-23 23:24:39,1.0,9,20
29074830,N,C_ID_b3fc559820,183,N,999,C,667,M_ID_6ff763c0ef,-2,-0.511893,2017-12-04 09:47:19,1.0,9,21

In [38]:
#category가 B이면 installments 가 다 1인가?
history.loc[history.card_id=='C_ID_8b04d4734e', :].sort_values(['merchant_id','purchase_date']).loc[history.category_3=='B','installments'].value_counts()

1    482
Name: installments, dtype: int64

In [39]:
#category가 B이면 installments 가 다 1이다!
history.loc[history.category_3=='B','installments'].value_counts()

1    11677522
Name: installments, dtype: int64

In [43]:
history.loc[history.card_id=='C_ID_8b04d4734e', :].sort_values(['merchant_id','purchase_date'])

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
227364,Y,C_ID_8b04d4734e,69,N,1,B,511,M_ID_00a6ca8a8a,-11,-0.356218,2017-03-22 14:04:30,1.0,9,7
227330,Y,C_ID_8b04d4734e,69,N,1,B,511,M_ID_00a6ca8a8a,-11,-0.686802,2017-03-23 17:18:16,1.0,9,7
227326,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-10,-0.018122,2017-04-27 16:35:14,1.0,9,29
227367,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-9,-0.395588,2017-05-04 15:21:21,1.0,9,29
227523,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-9,-0.557574,2017-05-04 15:38:00,1.0,9,29
227637,Y,C_ID_8b04d4734e,69,N,2,C,879,M_ID_00a6ca8a8a,-9,0.455213,2017-05-30 13:58:39,1.0,9,29
227323,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-8,-0.706336,2017-06-20 11:48:07,1.0,9,29
227713,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-8,-0.706336,2017-06-21 11:42:05,1.0,9,29
227297,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-8,-0.706336,2017-06-29 11:45:07,1.0,9,29
227724,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-8,-0.644728,2017-06-29 13:59:42,1.0,9,29
227395,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.706336,2017-07-03 11:44:05,1.0,9,29
227580,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.706336,2017-07-04 11:47:03,1.0,9,29
227424,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.706336,2017-07-05 11:40:14,1.0,9,29
227484,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.423838,2017-07-14 18:15:29,1.0,9,29
227618,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.706336,2017-07-17 11:55:32,1.0,9,29
227324,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.661257,2017-07-18 11:37:12,1.0,9,29
227569,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.692812,2017-07-19 11:45:25,1.0,9,29
227516,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.706336,2017-07-24 11:33:50,1.0,9,29
227640,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-6,-0.706336,2017-08-11 11:45:02,1.0,9,29
227709,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-6,-0.378758,2017-08-19 13:17:47,1.0,9,29
227800,Y,C_ID_8b04d4734e,69,N,1,B,879,M_ID_00a6ca8a8a,-5,-0.689807,2017-09-05 19:19:40,1.0,9,29
227606,N,C_ID_8b04d4734e,210,N,999,C,806,M_ID_0155450c84,-11,6.237415,2017-03-28 19:40:50,1.0,16,9
227803,Y,C_ID_8b04d4734e,210,N,12,C,806,M_ID_0155450c84,-11,6.237866,2017-03-28 19:41:53,1.0,16,9
227691,Y,C_ID_8b04d4734e,210,N,1,B,560,M_ID_018daac6da,-9,-0.712167,2017-05-30 16:29:04,1.0,16,34
227465,Y,C_ID_8b04d4734e,210,N,1,B,560,M_ID_018daac6da,-3,-0.691310,2017-11-08 18:38:49,1.0,16,34
227450,Y,C_ID_8b04d4734e,286,N,6,C,422,M_ID_02eeb722f5,-6,0.304798,2017-08-14 16:22:50,3.0,3,27
227356,Y,C_ID_8b04d4734e,271,N,6,C,422,M_ID_02eeb722f5,-4,0.665134,2017-10-19 17:23:13,1.0,9,27
227652,Y,C_ID_8b04d4734e,210,N,1,B,703,M_ID_03c14051d9,-11,-0.566590,2017-03-02 22:39:11,1.0,16,29
227601,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_08bb0ddb23,-9,0.086838,2017-05-22 14:53:35,1.0,16,33
227486,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_08bb0ddb23,-6,0.005845,2017-08-29 15:08:49,1.0,16,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227737,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-8,-0.701828,2017-06-05 11:50:00,1.0,16,33
227557,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-8,-0.701828,2017-06-06 11:39:40,1.0,16,33
227869,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-8,-0.701828,2017-06-07 11:37:07,1.0,16,33
227361,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-8,-0.701828,2017-06-08 11:43:33,1.0,16,33
227301,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-8,-0.701828,2017-06-09 11:29:57,1.0,16,33
227627,Y,C_ID_8b04d4734e,210,N,1,B,705,M_ID_d5af864b97,-4,-0.717020,2017-10-14 20:53:57,1.0,16,33
227783,Y,C_ID_8b04d4734e,210,N,4,C,705,M_ID_d5af864b97,-2,-0.162527,2017-12-20 18:01:17,1.0,16,33
227366,Y,C_ID_8b04d4734e,210,N,10,C,705,M_ID_d5af864b97,-2,0.061519,2017-12-30 16:17:41,1.0,16,33
227849,Y,C_ID_8b04d4734e,210,N,3,C,705,M_ID_d5af864b97,0,-0.478685,2018-02-03 18:48:50,1.0,16,33
227311,Y,C_ID_8b04d4734e,210,N,2,C,705,M_ID_d5af864b97,0,-0.556372,2018-02-16 16:32:04,1.0,16,33
227502,Y,C_ID_8b04d4734e,210,N,4,C,422,M_ID_d6850acfdf,-13,-0.086042,2017-01-12 17:18:48,1.0,16,27
227659,N,C_ID_8b04d4734e,210,N,1,B,422,M_ID_d6850acfdf,-13,-0.086042,2017-01-12 17:46:24,1.0,16,27
227806,Y,C_ID_8b04d4734e,210,N,6,C,422,M_ID_d6850acfdf,-10,0.229214,2017-04-13 19:59:42,1.0,16,27
227334,Y,C_ID_8b04d4734e,210,N,1,B,422,M_ID_d6850acfdf,-3,-0.446678,2017-11-25 00:00:00,1.0,16,27
227772,Y,C_ID_8b04d4734e,210,N,1,B,422,M_ID_d6850acfdf,-2,-0.687102,2017-12-27 15:08:58,1.0,16,27
227829,Y,C_ID_8b04d4734e,210,N,1,B,422,M_ID_d6850acfdf,-1,-0.671925,2018-01-12 13:37:14,1.0,16,27
227449,N,C_ID_8b04d4734e,210,N,1,B,309,M_ID_db9a5ec91a,-13,-0.326165,2017-01-20 21:48:25,1.0,16,21
227656,Y,C_ID_8b04d4734e,210,N,1,B,309,M_ID_db9a5ec91a,-13,-0.326165,2017-01-20 21:48:29,1.0,16,21
227357,Y,C_ID_8b04d4734e,210,N,1,B,309,M_ID_db9a5ec91a,-13,-0.326165,2017-01-20 21:49:31,1.0,16,21
227813,Y,C_ID_8b04d4734e,210,N,1,B,34,M_ID_df3763bf3c,-9,0.004418,2017-05-02 17:46:29,1.0,16,38
227538,Y,C_ID_8b04d4734e,210,N,1,B,34,M_ID_df3763bf3c,0,-0.581616,2018-02-22 16:38:40,1.0,16,38
227624,Y,C_ID_8b04d4734e,210,N,1,B,519,M_ID_df9f7e2436,-6,-0.611669,2017-08-21 15:14:09,1.0,16,7
227707,Y,C_ID_8b04d4734e,210,N,1,B,68,M_ID_dfa654394a,-1,-0.619182,2018-01-10 13:51:37,1.0,16,27
227571,Y,C_ID_8b04d4734e,210,N,10,C,383,M_ID_e0bbd83734,-6,10.673241,2017-08-03 15:00:07,1.0,16,2
227548,Y,C_ID_8b04d4734e,210,N,3,C,769,M_ID_ebcf49a64e,-12,0.452208,2017-02-20 13:27:44,1.0,16,32
227331,Y,C_ID_8b04d4734e,210,N,1,B,171,M_ID_ed5991f73c,-6,-0.671775,2017-08-22 16:37:55,1.0,16,34
227588,Y,C_ID_8b04d4734e,210,N,1,B,40,M_ID_f4116b4c03,-7,-0.559076,2017-07-19 15:03:19,1.0,16,21
227476,Y,C_ID_8b04d4734e,210,N,1,B,278,M_ID_f58acb94a9,-10,-0.567401,2017-04-15 18:27:00,1.0,16,37
227696,Y,C_ID_8b04d4734e,210,N,1,B,195,M_ID_f736e528e9,-2,-0.617004,2017-12-19 15:03:06,1.0,16,34
227470,Y,C_ID_8b04d4734e,210,N,4,C,289,M_ID_fed617b193,-6,0.063021,2017-08-14 16:13:49,1.0,16,27

In [3]:
plt.scatter(history.loc[history.card_id=='C_ID_8b04d4734e', 'installments'], history.loc[history.card_id=='C_ID_8b04d4734e', 'purchase_amount'])

NameError: name 'history' is not defined