In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = 'C:/Users/wjssm/Desktop/kaggle/Elo_Merchant_Category_Recommendation/data/'

train = pd.read_csv(path + 'train.csv') #key : card_id
test = pd.read_csv(path + 'test.csv') #key : card_id
#history = pd.read_csv(path+'historical_transactions.csv') #key : card_id, merchant_id
new_history = pd.read_csv(path+'new_merchant_transactions.csv') #key : card_id, merchant_id
merchant = pd.read_csv(path+'merchants.csv') #key : merchant_id

In [ ]:
#sorting
#sorted_history = history.sort_values(['card_id', 'purchase_date'])
#sorted_history.to_pickle('sorted_history.pkl')

In [109]:
history = pd.read_pickle(path + 'sorted_history.pkl')
history.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
19095896,Y,C_ID_00007093c1,244,N,2,C,705,M_ID_69423b34e4,-12,0.037176,2017-02-14 14:00:43,3.0,2,33
19095775,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_a33355a1b7,-12,-0.467415,2017-02-14 15:47:45,3.0,2,33
19095845,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-12,-0.572600,2017-02-16 15:37:58,3.0,2,19
19095866,Y,C_ID_00007093c1,244,N,3,C,705,M_ID_a33355a1b7,-12,-0.331575,2017-02-20 12:19:01,3.0,2,33
19095808,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.483944,2017-03-03 00:24:15,3.0,2,19

In [3]:
train['year'] = pd.DatetimeIndex(train['first_active_month']).year
train['month'] = pd.DatetimeIndex(train['first_active_month']).month

test['year'] = pd.DatetimeIndex(test['first_active_month']).year
test['month'] = pd.DatetimeIndex(test['first_active_month']).month

In [4]:
#test data에서의 NA어떻게 할지...
test.loc[test.first_active_month.isnull(),:]

,first_active_month,card_id,feature_1,feature_2,feature_3,year,month
11578,NaN,C_ID_c27b4f80f7,5,2,1,NaN,NaN

In [5]:
#최빈값으로 채움
test.loc[test.card_id == 'C_ID_c27b4f80f7', 'year'] = 2017
test.loc[test.card_id == 'C_ID_c27b4f80f7', 'month'] = 12

In [6]:
train['year'] = train['year'].astype('category')
train['month'] = train['month'].astype('category')
test['year'] = test['year'].astype('category')
test['month'] = test['month'].astype('category')

# authorized_count :  카드 아이디별 승인/비승인 건수

In [38]:
authorized_count = history.loc[history.authorized_flag == 'Y'].groupby(['card_id'])['authorized_flag'].count().reset_index(name = 'authorized_count')
not_authorized_count = history.loc[history.authorized_flag == 'N'].groupby(['card_id'])['authorized_flag'].count().reset_index(name = 'not_authorized_count')

In [39]:
authorized_count.head()

           card_id  authorized_count
0  C_ID_00007093c1               114
1  C_ID_0001238066               120
2  C_ID_0001506ef0                62
3  C_ID_0001793786               189
4  C_ID_000183fdda               137

In [40]:
not_authorized_count.head()

           card_id  not_authorized_count
0  C_ID_00007093c1                    35
1  C_ID_0001238066                     3
2  C_ID_0001506ef0                     4
3  C_ID_0001793786                    27
4  C_ID_000183fdda                     7

### history - installments outlier

In [8]:
history['installments'].value_counts()

 0      15411747
 1      11677522
 2        666416
 3        538207
 4        179525
-1        178159
 6        132634
 10       118827
 5        116090
 12        55064
 8         20474
 7         10906
 9          5772
 11          830
 999         188
Name: installments, dtype: int64

### 1. installments : 할부

#### 999

In [10]:
history.loc[history['installments']==999, :]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
227606,N,C_ID_8b04d4734e,210,N,999,C,806,M_ID_0155450c84,-11,6.237415,2017-03-28 19:40:50,1.0,16,9
466436,N,C_ID_7670e569a0,333,N,999,C,813,M_ID_c9526f2dd3,-10,-0.443673,2017-04-12 21:06:28,5.0,21,29
759501,N,C_ID_652976a4bb,19,N,999,C,356,M_ID_2570628257,-8,0.469038,2017-06-05 09:22:18,1.0,9,21
1182532,N,C_ID_24fb1a2959,331,N,999,C,117,M_ID_67a62f2671,-3,0.208778,2017-11-05 01:29:18,1.0,16,2
1198327,N,C_ID_3742a35e45,333,N,999,C,307,M_ID_5f46ec7f98,-8,-0.521510,2017-05-01 11:17:28,5.0,21,19
1221217,N,C_ID_ba84d050f5,19,N,999,C,884,M_ID_8e7a785122,-8,-0.296127,2017-06-25 16:09:55,1.0,9,27
1368209,N,C_ID_5b6278eb25,69,N,999,C,683,M_ID_f86439cec0,-6,-0.674179,2017-08-23 12:39:48,1.0,9,34
1682455,N,C_ID_51ab074d19,69,N,999,C,412,M_ID_dfc0be4604,-5,-0.100768,2017-09-15 17:42:57,1.0,9,18
1767608,N,C_ID_9cea123f42,181,N,999,C,90,M_ID_596749cc5a,0,-0.318652,2018-02-23 17:29:00,5.0,5,22
2063505,N,C_ID_0a3724504a,279,N,999,C,667,M_ID_45bfdc72e8,-4,-0.259147,2017-10-13 18:46:21,1.0,9,21
2897328,N,C_ID_67e9e2098e,137,N,999,C,222,M_ID_8ebde9a679,-4,0.271589,2017-08-25 15:30:52,3.0,19,21
3102968,N,C_ID_5e6e168169,87,N,999,C,427,M_ID_7571993ad6,-8,0.110956,2017-06-06 16:53:12,3.0,11,27
3128460,N,C_ID_c379d12476,42,N,999,C,419,M_ID_eaddfae8a1,-8,-0.611669,2017-06-13 17:28:35,3.0,19,1
3222000,N,C_ID_4058332475,170,N,999,C,412,M_ID_cbd3b06121,-7,-0.521510,2017-07-22 09:57:38,3.0,8,18
3323423,N,C_ID_ef6709bf85,190,N,999,C,225,M_ID_5cce2da9c8,-2,4.624259,2017-11-30 10:42:06,3.0,7,9
3440873,N,C_ID_c9d2343ab0,117,N,999,C,422,M_ID_5958549349,-10,-0.356218,2017-04-18 15:09:22,1.0,9,27
4024235,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 17:00:33,1.0,16,9
4024281,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 16:59:36,1.0,16,9
4574655,N,C_ID_a58276801c,19,N,999,C,87,M_ID_d0146c836a,-2,1.412402,2017-12-24 14:56:28,1.0,9,27
4631681,N,C_ID_eefb4d9fcc,302,N,999,C,68,M_ID_c24ebf2f81,-2,-0.025936,2017-12-20 09:58:19,3.0,7,27
4641754,N,C_ID_16a62038b8,87,N,999,C,333,M_ID_7d3938035b,-1,1.821589,2017-12-16 14:10:39,3.0,11,10
5273962,N,C_ID_f46fcb0feb,17,N,999,C,422,M_ID_6d999339f8,-12,-0.408811,2017-02-04 16:56:07,4.0,22,27
5299431,N,C_ID_85ea27e66e,1,N,999,C,87,M_ID_85198ffee4,-2,0.091421,2017-12-23 15:56:19,1.0,12,27
5850302,N,C_ID_478cd7cc91,69,N,999,C,87,M_ID_c700c6f928,0,-0.178154,2018-02-02 20:13:46,1.0,9,27
6222185,N,C_ID_dbd5f93456,158,N,999,C,222,M_ID_cd7124f247,-5,0.039910,2017-09-13 15:35:09,1.0,15,21
6781702,N,C_ID_7c97a8d5c3,200,N,999,C,605,M_ID_91ba5dc816,-4,-0.201836,2017-10-17 18:26:12,2.0,18,2
7257431,N,C_ID_262dee69d3,33,N,999,C,884,M_ID_d4157cc958,-4,-0.404454,2017-10-06 16:42:51,1.0,15,27
7430452,N,C_ID_98bd309e8b,69,N,999,C,332,M_ID_2bab22e85d,0,0.132143,2017-08-04 13:30:18,1.0,9,2
7456746,N,C_ID_4db57b6fc7,20,N,999,C,840,M_ID_0dacb1258d,-4,-0.341192,2017-10-20 13:04:19,3.0,19,20
8010607,N,C_ID_76859ed625,69,N,999,C,34,M_ID_c9714065ed,-8,1.657334,2017-06-03 10:35:51,1.0,9,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26770977,N,C_ID_b56b679112,320,N,999,C,298,M_ID_c7de7ae2ac,-2,-0.461404,2017-03-29 20:27:54,4.0,13,10
26973702,N,C_ID_41f4a5ebc5,69,N,999,C,529,M_ID_679a1d99ed,-5,1.747493,2017-09-07 15:50:35,1.0,9,20
27068686,N,C_ID_9bf3f8355f,19,N,999,C,705,M_ID_79532256ea,-6,-0.414521,2017-07-17 16:59:38,1.0,9,33
27078432,N,C_ID_0e00a3c5e2,333,N,999,C,705,M_ID_77e2942cd8,-1,-0.480984,2018-01-12 18:51:35,1.0,9,33
27138713,N,C_ID_a3c2a00954,6,N,999,C,34,M_ID_dc42409f14,-3,-0.437362,2017-11-24 14:50:49,1.0,9,38
27163381,N,C_ID_908f2207d2,79,N,999,C,80,M_ID_4b95af69c3,-11,4.812902,2017-03-27 03:18:20,1.0,12,37
27441288,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
27441292,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
27441309,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
27788908,N,C_ID_88798ca963,277,N,999,C,840,M_ID_4691ecd83e,-4,-0.491457,2017-10-27 17:38:03,4.0,13,20
27831437,N,C_ID_fe57f79f61,149,N,999,C,834,M_ID_efb1bcf509,0,-0.347203,2018-02-08 18:51:49,5.0,20,27
27871554,N,C_ID_6ac6dd5186,69,N,999,C,222,M_ID_5cea7e02a8,-5,0.522832,2017-07-29 11:58:42,1.0,9,21
27935666,N,C_ID_f4469d2e92,334,N,999,C,703,M_ID_12149ead3c,0,-0.486048,2018-02-16 17:19:10,5.0,20,29
28020816,N,C_ID_93fb16467d,210,N,999,C,422,M_ID_351ab44919,-4,-0.348705,2017-10-21 17:11:45,1.0,16,27
28041194,N,C_ID_ae7caea729,100,N,999,C,705,M_ID_cba0fd22f3,-5,-0.041368,2017-09-23 14:39:27,1.0,16,33
28182192,N,C_ID_c8cb6bd652,17,N,999,C,434,M_ID_0c9c0f995f,-11,-0.521510,2017-01-19 16:18:12,4.0,22,32
28258830,N,C_ID_0a0fcf2fc3,137,N,999,C,544,M_ID_a5e5e3e2cc,-5,-0.623690,2017-09-27 17:44:56,3.0,19,29
28366146,N,C_ID_45aa34458b,107,N,999,C,422,M_ID_29270ce27e,-2,-0.303626,2017-12-22 18:02:36,4.0,4,27
28496663,N,C_ID_791dc80be7,-1,N,999,C,33,M_ID_1ad4d3902b,-9,-0.441118,2017-05-10 14:21:21,NaN,-1,29
28601403,N,C_ID_180aa7cfd7,244,N,999,C,373,M_ID_f42c70fa36,-1,-0.521510,2017-08-17 11:57:09,3.0,2,18
28771480,N,C_ID_b3302b05e1,137,N,999,C,87,M_ID_085c1beb28,-3,1.139160,2017-11-01 21:56:18,3.0,19,27
28779995,N,C_ID_a2d38bdf60,169,N,999,C,309,M_ID_49c1fe5097,0,0.226810,2018-02-02 14:39:50,5.0,20,21
28814708,N,C_ID_d60c31581e,179,N,999,C,34,M_ID_261a413fca,0,0.530346,2018-02-16 11:37:32,NaN,-1,38
28880387,N,C_ID_5f57070e0c,301,N,999,C,33,M_ID_213b06cd61,-6,0.154683,2017-08-17 11:15:23,3.0,11,29
28902917,Y,C_ID_1947a910eb,174,N,999,C,840,M_ID_fcb061b2bf,-2,2.709190,2017-12-17 22:36:08,1.0,9,20
28978222,N,C_ID_730f3751de,117,N,999,C,68,M_ID_9a67369473,-1,0.440187,2017-12-13 12:22:29,1.0,9,27
28996126,N,C_ID_05240c2353,289,N,999,C,60,M_ID_dc44de5cf9,-2,0.697140,2017-08-30 11:35:02,5.0,5,13
29012755,N,C_ID_2c1f702b6a,330,N,999,C,309,M_ID_ff8fdb0abf,-7,-0.452388,2017-07-21 11:11:05,3.0,17,21
29018065,Y,C_ID_6715eccea8,174,N,999,C,840,M_ID_fcb061b2bf,-2,0.491983,2017-11-23 23:24:39,1.0,9,20
29074830,N,C_ID_b3fc559820,183,N,999,C,667,M_ID_6ff763c0ef,-2,-0.511893,2017-12-04 09:47:19,1.0,9,21

In [16]:
#category3가 B이면 installments 가 다 1이다!
print('category_3 = B인 개수 : ', history.loc[history.category_3 == 'B',:].shape[0])
print('installments = 1인 개수 : ', history.loc[history.installments == 1,:].shape[0])

category_3 = B인 개수 :  11677522
installments = 1인 개수 :  11677522

In [22]:
history.loc[history.installments != 999, 'category_3'].value_counts()

A    15411747
B    11677522
C     1844745
Name: category_3, dtype: int64

In [21]:
#installments999 이면 category3 다 C
history.loc[history.installments == 999, 'category_3'].value_counts()

C    188
Name: category_3, dtype: int64

In [23]:
history.loc[history.category_3 == 'C', 'installments'].value_counts()

2      666416
3      538207
4      179525
6      132634
10     118827
5      116090
12      55064
8       20474
7       10906
9        5772
11        830
999       188
Name: installments, dtype: int64

In [59]:
#installments 999인 data
installments_999 = history.loc[history.installments == 999, ['card_id', 'merchant_id']]
installments_999.head()

                 card_id      merchant_id
227606   C_ID_8b04d4734e  M_ID_0155450c84
466436   C_ID_7670e569a0  M_ID_c9526f2dd3
759501   C_ID_652976a4bb  M_ID_2570628257
1182532  C_ID_24fb1a2959  M_ID_67a62f2671
1198327  C_ID_3742a35e45  M_ID_5f46ec7f98

In [62]:
installments_999.shape

(188, 2)

In [63]:
print('card_id unique 개수 : ', len(installments_999.card_id.unique()))
print('merchant_id unique 개수 : ', len(installments_999.merchant_id.unique()))

card_id unique 개수 :  178
merchant_id unique 개수 :  171

In [67]:
installments_999.card_id.value_counts().head(5)

C_ID_1fa5e84ac3    6
C_ID_f8beeb608f    3
C_ID_2e39f9fd94    2
C_ID_105ae2e0d1    2
C_ID_76859ed625    2
Name: card_id, dtype: int64

In [69]:
installments_999.loc[installments_999.card_id == 'C_ID_1fa5e84ac3', :]

                  card_id      merchant_id
18541346  C_ID_1fa5e84ac3  M_ID_3111c6df35
18541364  C_ID_1fa5e84ac3  M_ID_3111c6df35
18541375  C_ID_1fa5e84ac3  M_ID_3111c6df35
18541426  C_ID_1fa5e84ac3  M_ID_3111c6df35
18541454  C_ID_1fa5e84ac3  M_ID_3111c6df35
18541556  C_ID_1fa5e84ac3  M_ID_3111c6df35

In [78]:
history.iloc[installments_999.loc[installments_999.card_id == 'C_ID_1fa5e84ac3', :].index.values, ]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
18541346,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:58:12,NaN,-1,1
18541364,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:58:13,NaN,-1,1
18541375,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 12:50:38,NaN,-1,1
18541426,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:07:19,NaN,-1,1
18541454,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:07:18,NaN,-1,1
18541556,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 13:41:26,NaN,-1,1

In [70]:
installments_999.loc[installments_999.card_id == 'C_ID_f8beeb608f', :]

                  card_id      merchant_id
27441288  C_ID_f8beeb608f  M_ID_0bef30db30
27441292  C_ID_f8beeb608f  M_ID_0bef30db30
27441309  C_ID_f8beeb608f  M_ID_0bef30db30

In [71]:
installments_999.loc[installments_999.card_id == 'C_ID_2e39f9fd94', :]

                  card_id      merchant_id
13456410  C_ID_2e39f9fd94  M_ID_00f803a717
13456426  C_ID_2e39f9fd94  M_ID_00f803a717

In [72]:
installments_999.loc[installments_999.card_id == 'C_ID_105ae2e0d1', :]

                 card_id      merchant_id
4024235  C_ID_105ae2e0d1  M_ID_43d0f0f4dc
4024281  C_ID_105ae2e0d1  M_ID_43d0f0f4dc

In [73]:
installments_999.loc[installments_999.card_id == 'C_ID_76859ed625', :]

                 card_id      merchant_id
8010607  C_ID_76859ed625  M_ID_c9714065ed
8010833  C_ID_76859ed625  M_ID_c9714065ed

In [58]:
len(installments_999.card_id.unique())

178

In [55]:
len(installments_999.merchant_id.unique())

171

In [53]:
installments_999.groupby(['merchant_id','card_id']).nunique().sum()

merchant_id    178
card_id        178
dtype: int64

In [33]:
history_inner = pd.merge(history, installments_999, how = 'inner')

In [45]:
history_inner.category_1.value_counts()

N    811
Y     38
Name: category_1, dtype: int64

In [47]:
811/38

21.342105263157894

In [46]:
history.category_1.value_counts()

N    27028332
Y     2084029
Name: category_1, dtype: int64

In [48]:
27028332/2084029

12.96926866180845

#### history_inner 데이터에 확실히 category_1 칼럼의 N의 비율이 높다

In [36]:
#이 데이터를 보면, 같은 가게 같은 날  같은 사람이 amount만 줄여가면서 카드 승인을 시도한다.
history_inner.sort_values(['card_id','purchase_date'], ascending = True)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
191,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-13,8.268999,2017-01-05 17:54:50,3.0,11,27
192,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-13,6.766348,2017-01-05 17:55:21,3.0,11,27
179,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-13,5.263697,2017-01-05 17:55:43,3.0,11,27
186,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-13,4.512371,2017-01-05 17:56:05,3.0,11,27
190,Y,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-13,3.761046,2017-01-05 17:56:34,3.0,11,27
182,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,5.263697,2017-02-02 16:10:42,3.0,11,27
193,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,4.512371,2017-02-02 16:11:06,3.0,11,27
180,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,5.263697,2017-02-03 13:21:49,3.0,11,27
178,Y,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,-0.175900,2017-02-03 13:22:23,3.0,11,27
187,N,C_ID_02bd1c4210,322,N,999,C,369,M_ID_44d94f35bb,-12,4.963167,2017-02-04 17:03:01,3.0,11,27
185,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,4.963167,2017-02-04 17:03:24,3.0,11,27
172,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,4.512371,2017-02-04 17:03:43,3.0,11,27
174,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,4.362106,2017-02-04 17:04:02,3.0,11,27
173,N,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,4.211841,2017-02-04 17:04:23,3.0,11,27
181,Y,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-12,3.911311,2017-02-04 17:04:41,3.0,11,27
175,Y,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-11,3.761046,2017-03-04 12:21:48,3.0,11,27
177,Y,C_ID_02bd1c4210,322,N,2,C,369,M_ID_44d94f35bb,-8,2.258395,2017-06-05 20:33:55,3.0,11,27
183,N,C_ID_02bd1c4210,322,N,1,B,369,M_ID_44d94f35bb,-3,-0.746758,2017-11-21 11:53:08,3.0,11,27
184,N,C_ID_02bd1c4210,322,N,1,B,369,M_ID_44d94f35bb,-3,-0.746758,2017-11-21 11:54:25,3.0,11,27
189,N,C_ID_02bd1c4210,322,N,1,B,369,M_ID_44d94f35bb,-3,-0.746758,2017-11-21 12:03:25,3.0,11,27
176,Y,C_ID_02bd1c4210,322,N,1,B,369,M_ID_44d94f35bb,-3,-0.746758,2017-11-21 12:06:45,3.0,11,27
188,Y,C_ID_02bd1c4210,322,N,1,B,369,M_ID_44d94f35bb,-1,-0.746758,2018-01-22 13:56:04,3.0,11,27
839,N,C_ID_05240c2353,289,N,999,C,60,M_ID_dc44de5cf9,-2,0.697140,2017-08-30 11:35:02,5.0,5,13
840,Y,C_ID_05240c2353,289,N,6,C,60,M_ID_dc44de5cf9,-2,0.330493,2017-08-30 11:38:21,5.0,5,13
510,N,C_ID_06fca19c8e,331,N,999,C,222,M_ID_629b908f04,-6,1.036739,2017-08-10 13:26:40,1.0,16,21
509,Y,C_ID_06fca19c8e,331,N,7,C,222,M_ID_629b908f04,-6,1.036739,2017-08-10 13:27:31,1.0,16,21
508,Y,C_ID_06fca19c8e,331,N,6,C,222,M_ID_629b908f04,-4,-0.069167,2017-10-05 11:41:48,1.0,16,21
506,Y,C_ID_06fca19c8e,331,N,8,C,222,M_ID_629b908f04,-4,1.492869,2017-10-16 17:03:06,1.0,16,21
507,Y,C_ID_06fca19c8e,331,N,3,C,222,M_ID_629b908f04,-4,-0.418639,2017-10-25 10:41:13,1.0,16,21
170,Y,C_ID_094bb1b704,69,N,2,C,412,M_ID_dfc0be4604,-5,0.782791,2017-03-15 18:58:25,1.0,9,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,N,C_ID_f8bc9b9bf8,272,N,999,C,68,M_ID_f4c83efed5,-7,-0.311890,2017-07-04 10:27:34,1.0,9,27
280,Y,C_ID_f8bc9b9bf8,272,N,4,C,68,M_ID_f4c83efed5,-7,-0.311890,2017-07-04 10:28:09,1.0,9,27
773,N,C_ID_f8beeb608f,158,N,7,C,246,M_ID_0bef30db30,0,15.556857,2018-02-09 13:43:22,1.0,15,7
774,N,C_ID_f8beeb608f,158,N,7,C,246,M_ID_0bef30db30,0,15.556857,2018-02-09 13:43:22,1.0,15,7
775,N,C_ID_f8beeb608f,158,N,7,C,246,M_ID_0bef30db30,0,15.556857,2018-02-09 13:43:22,1.0,15,7
776,N,C_ID_f8beeb608f,158,N,6,C,246,M_ID_0bef30db30,0,13.227748,2018-02-09 13:44:23,1.0,15,7
777,N,C_ID_f8beeb608f,158,N,6,C,246,M_ID_0bef30db30,0,13.227748,2018-02-09 13:44:23,1.0,15,7
778,N,C_ID_f8beeb608f,158,N,6,C,246,M_ID_0bef30db30,0,13.227748,2018-02-09 13:44:23,1.0,15,7
767,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
768,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
769,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
764,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
765,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
766,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
761,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
762,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
763,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
770,Y,C_ID_f8beeb608f,158,N,10,C,246,M_ID_0bef30db30,0,22.544185,2018-02-09 14:10:28,1.0,15,7
771,Y,C_ID_f8beeb608f,158,N,10,C,246,M_ID_0bef30db30,0,22.544185,2018-02-09 14:10:28,1.0,15,7
772,Y,C_ID_f8beeb608f,158,N,10,C,246,M_ID_0bef30db30,0,22.544185,2018-02-09 14:10:28,1.0,15,7
578,N,C_ID_fb6db6adaa,216,N,999,C,356,M_ID_96b6772314,-13,0.041819,2017-01-07 09:01:08,5.0,20,21
579,Y,C_ID_fb6db6adaa,216,N,3,C,356,M_ID_96b6772314,-13,0.041819,2017-01-07 09:01:43,5.0,20,21
576,Y,C_ID_fb6db6adaa,216,N,1,B,222,M_ID_96b6772314,-2,-0.604051,2017-12-01 17:00:55,5.0,20,21
577,Y,C_ID_fb6db6adaa,216,N,1,B,222,M_ID_96b6772314,-2,-0.652331,2017-12-08 11:14:19,5.0,20,21
215,N,C_ID_fbce6b2487,140,N,999,C,796,M_ID_d50952948a,-9,0.344919,2017-05-25 17:00:40,1.0,9,10
782,Y,C_ID_fe57f79f61,149,N,3,C,834,M_ID_efb1bcf509,-2,-0.115794,2017-12-05 19:03:34,5.0,20,27
781,N,C_ID_fe57f79f61,149,N,999,C,834,M_ID_efb1bcf509,0,-0.347203,2018-02-08 18:51:49,5.0,20,27
783,Y,C_ID_fe57f79f61,149,N,2,C,834,M_ID_efb1bcf509,0,-0.347203,2018-02-08 18:52:28,5.0,20,27
667,N,C_ID_fed2529e7b,117,N,999,C,356,M_ID_bcd86e0334,-8,0.645299,2017-06-23 18:32:31,4.0,13,21
666,Y,C_ID_fed2529e7b,117,N,5,C,356,M_ID_bcd86e0334,-8,0.645299,2017-06-23 18:33:16,4.0,13,21

In [44]:
history.month_lag.value_counts()

-2     3857276
-1     3627430
 0     3470946
-3     3095651
-4     2639805
-5     2364790
-6     2050048
-7     1769844
-8     1427846
-9     1234724
-10    1085053
-11    1007878
-12     791973
-13     689097
Name: month_lag, dtype: int64

# merchant_Y : 같은 가게에서 몇 번 승인
- merchant_id, purchase_date별 승인 수

In [43]:
history.loc[history.authorized_flag == 'Y', :].groupby(['card_id', 'merchant_id'])['merchant_id'].count()

card_id          merchant_id
C_ID_00007093c1  M_ID_0379adb435     4
                 M_ID_06a8d84366     1
                 M_ID_0dabc5a70c     2
                 M_ID_109e9d2b1d     2
                 M_ID_15446e939c     1
                 M_ID_1b440d74fb     1
                 M_ID_24e067cb2b     1
                 M_ID_2efbd71a00     1
                 M_ID_3c6556f2dd     1
                 M_ID_490fc654fb     1
                 M_ID_5357547c3e     4
                 M_ID_57df19bf28    24
                 M_ID_584ad6cd63     3
                 M_ID_58fa2d2ab7     1
                 M_ID_61f1337e5d     1
                 M_ID_69423b34e4    10
                 M_ID_6a1f75f661     3
                 M_ID_8261f7a734     2
                 M_ID_84e60960a3     3
                 M_ID_9400cf2342    31
                 M_ID_a33355a1b7     4
                 M_ID_a614b6d5b0     1
                 M_ID_bc3f2e986e     3
                 M_ID_c6ca6282e6     1
                 M_ID_d96a11b2df     2
                 M_ID_ee8fcd02ca     4
                 M_ID_f5668a871f     1
                 M_ID_f6d28ce95b     1
C_ID_0001238066  M_ID_010f6fda7d     4
                 M_ID_0649e6e556     1
                                    ..
C_ID_ffff828181  M_ID_e4590daec2     1
                 M_ID_e73e337cb8     2
                 M_ID_ead3624f62     1
                 M_ID_eadbac8ee2     2
                 M_ID_eb421e5ec8     1
                 M_ID_ee5ab58628     1
                 M_ID_f33207423d     2
                 M_ID_f3d170cc3d     2
                 M_ID_f6866f4b22     1
                 M_ID_fc7d7969c3     2
                 M_ID_fe5592c749     2
C_ID_fffffd5772  M_ID_00a6ca8a8a     1
                 M_ID_310b8cc141     1
                 M_ID_3841612e17     2
                 M_ID_43d3146552     4
                 M_ID_445742726b    21
                 M_ID_55cb8d33dc    15
                 M_ID_77c7152425     4
                 M_ID_7840c5d7b0     2
                 M_ID_8e03a902b7     1
                 M_ID_9139332ccc     2
                 M_ID_95bcc49b39     1
                 M_ID_b737a61aa4     1
                 M_ID_caa705da68     1
                 M_ID_cc18e4b61e     6
                 M_ID_d6626c9a19     2
                 M_ID_db0fa76591     5
                 M_ID_e80ebae5da     4
                 M_ID_e8c10bd049     1
                 M_ID_fc7d7969c3     1
Name: merchant_id, Length: 10701099, dtype: int64

In [ ]:
merchant_authorized =

In [ ]:
#같은 상품을 몇 번 사는지 생각해 볼 수 있지 않을까

In [31]:
history.loc[(history.merchant_id=='M_ID_0155450c84') & (history.card_id=='C_ID_8b04d4734e')]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
227606,N,C_ID_8b04d4734e,210,N,999,C,806,M_ID_0155450c84,-11,6.237415,2017-03-28 19:40:50,1.0,16,9
227803,Y,C_ID_8b04d4734e,210,N,12,C,806,M_ID_0155450c84,-11,6.237866,2017-03-28 19:41:53,1.0,16,9

In [12]:
sort_index = history.sort_values(['card_id','merchant_id','purchase_date'], ascending=True).index.tolist()

In [13]:
sort_index = np.array(sort_index)

In [15]:
history.sort_values(['card_id','merchant_id','purchase_date'], ascending = True).loc[history.installments==999, :]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
10482837,N,C_ID_02bd1c4210,322,N,999,C,369,M_ID_44d94f35bb,-12,4.963167,2017-02-04 17:03:01,3.0,11,27
28996126,N,C_ID_05240c2353,289,N,999,C,60,M_ID_dc44de5cf9,-2,0.697140,2017-08-30 11:35:02,5.0,5,13
21241132,N,C_ID_06fca19c8e,331,N,999,C,222,M_ID_629b908f04,-6,1.036739,2017-08-10 13:26:40,1.0,16,21
10410638,N,C_ID_094bb1b704,69,N,999,C,412,M_ID_dfc0be4604,-5,1.507069,2017-03-17 18:52:58,1.0,9,18
8549841,N,C_ID_09dcde8f3c,137,N,999,C,891,M_ID_d0d69f7b22,-8,1.431335,2017-05-20 13:34:50,3.0,19,29
28258830,N,C_ID_0a0fcf2fc3,137,N,999,C,544,M_ID_a5e5e3e2cc,-5,-0.623690,2017-09-27 17:44:56,3.0,19,29
2063505,N,C_ID_0a3724504a,279,N,999,C,667,M_ID_45bfdc72e8,-4,-0.259147,2017-10-13 18:46:21,1.0,9,21
21572523,N,C_ID_0ba083756a,174,N,999,C,670,M_ID_923a7d9981,-1,7.367409,2018-01-13 15:29:43,1.0,9,32
27078432,N,C_ID_0e00a3c5e2,333,N,999,C,705,M_ID_77e2942cd8,-1,-0.480984,2018-01-12 18:51:35,1.0,9,33
8382138,N,C_ID_0f1f3c5b68,69,N,999,C,422,M_ID_de738c952d,-7,-0.326180,2017-07-21 17:13:54,1.0,9,27
21701299,N,C_ID_0f7e480a17,158,N,999,C,45,M_ID_fe21c7a853,-13,-0.410464,2017-01-10 14:29:58,1.0,15,18
4024281,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 16:59:36,1.0,16,9
4024235,N,C_ID_105ae2e0d1,125,N,999,C,792,M_ID_43d0f0f4dc,0,3.492071,2018-02-07 17:00:33,1.0,16,9
9285543,N,C_ID_1330c15464,11,N,999,C,273,M_ID_586b94daf6,-9,-0.371245,2017-05-27 15:59:57,2.0,23,20
17277377,N,C_ID_1382adff55,149,N,999,C,434,M_ID_c4b471819c,-1,1.567160,2018-01-03 17:18:01,5.0,20,32
4641754,N,C_ID_16a62038b8,87,N,999,C,333,M_ID_7d3938035b,-1,1.821589,2017-12-16 14:10:39,3.0,11,10
28601403,N,C_ID_180aa7cfd7,244,N,999,C,373,M_ID_f42c70fa36,-1,-0.521510,2017-08-17 11:57:09,3.0,2,18
15412955,N,C_ID_18d774e3ef,277,N,999,C,383,M_ID_795ca10955,-3,0.530346,2017-11-10 17:26:19,4.0,13,2
28902917,Y,C_ID_1947a910eb,174,N,999,C,840,M_ID_fcb061b2bf,-2,2.709190,2017-12-17 22:36:08,1.0,9,20
21494899,N,C_ID_1ad317ca97,57,N,999,C,796,M_ID_a3270f762e,-5,1.507069,2017-09-25 20:00:39,5.0,5,10
24863146,N,C_ID_1daa1a117f,116,N,999,C,705,M_ID_3840c033c6,-4,-0.059986,2017-10-08 15:01:14,1.0,9,33
14557683,N,C_ID_1e9acd6799,126,N,999,C,222,M_ID_32dd24da5d,-5,-0.296112,2017-06-20 18:08:27,4.0,4,21
9736752,N,C_ID_1f5b458942,20,N,999,C,705,M_ID_32c8d01e4b,-12,-0.450886,2017-01-09 12:39:38,3.0,19,33
18541454,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:07:18,NaN,-1,1
18541426,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:07:19,NaN,-1,1
18541346,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:58:12,NaN,-1,1
18541364,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 11:58:13,NaN,-1,1
18541375,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 12:50:38,NaN,-1,1
18541556,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 13:41:26,NaN,-1,1
13037352,N,C_ID_206f887fa9,87,N,999,C,130,M_ID_697955825d,-3,-0.634209,2017-10-05 20:37:07,3.0,11,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28814708,N,C_ID_d60c31581e,179,N,999,C,34,M_ID_261a413fca,0,0.530346,2018-02-16 11:37:32,NaN,-1,38
6222185,N,C_ID_dbd5f93456,158,N,999,C,222,M_ID_cd7124f247,-5,0.039910,2017-09-13 15:35:09,1.0,15,21
9634046,N,C_ID_dbe526bf85,344,N,999,C,45,M_ID_b7459adc65,-2,0.969120,2017-09-08 13:35:07,2.0,18,18
17263229,N,C_ID_dcf9dbebfa,157,N,999,C,307,M_ID_367b642fab,-7,0.441524,2017-06-02 08:27:34,4.0,13,19
21154231,N,C_ID_dd72d78bf4,17,N,999,C,518,M_ID_f800c74965,-4,-0.573231,2017-10-04 13:47:46,4.0,22,27
21774311,N,C_ID_df44245fda,149,N,999,C,506,M_ID_4dc81d3042,-2,-0.586620,2017-01-30 11:15:25,5.0,20,30
20541922,N,C_ID_e21148a5eb,308,N,999,C,356,M_ID_c10763e4f6,0,-0.384694,2017-08-04 08:50:48,1.0,16,21
22923147,N,C_ID_e2a4142862,19,N,999,C,840,M_ID_1b967aa8cb,-8,0.695487,2017-06-09 10:01:10,1.0,9,20
8306029,N,C_ID_eb063adeca,280,N,999,C,333,M_ID_c7e404e68b,-10,3.761046,2017-04-03 11:13:03,3.0,1,10
14501482,N,C_ID_ed598e4184,314,N,999,C,180,M_ID_ad32408a59,-3,-0.544050,2017-11-25 18:32:34,1.0,9,20
24465386,N,C_ID_eeacbe874c,88,N,999,C,434,M_ID_ff4ef61eba,-2,0.815849,2017-12-12 10:43:24,1.0,16,32
4631681,N,C_ID_eefb4d9fcc,302,N,999,C,68,M_ID_c24ebf2f81,-2,-0.025936,2017-12-20 09:58:19,3.0,7,27
3323423,N,C_ID_ef6709bf85,190,N,999,C,225,M_ID_5cce2da9c8,-2,4.624259,2017-11-30 10:42:06,3.0,7,9
22854503,N,C_ID_f0e9836db4,292,N,999,C,45,M_ID_5e92f6a3d4,-5,-0.438864,2017-09-30 11:01:16,3.0,1,18
11048906,N,C_ID_f28ef285a9,69,N,999,C,40,M_ID_9e804ecbcb,-5,0.222302,2017-03-08 20:06:30,1.0,9,21
27935666,N,C_ID_f4469d2e92,334,N,999,C,703,M_ID_12149ead3c,0,-0.486048,2018-02-16 17:19:10,5.0,20,29
5273962,N,C_ID_f46fcb0feb,17,N,999,C,422,M_ID_6d999339f8,-12,-0.408811,2017-02-04 16:56:07,4.0,22,27
18099476,N,C_ID_f4a2c85eeb,19,N,999,C,222,M_ID_75c181c1ac,-13,-0.426843,2017-01-26 15:35:31,1.0,9,21
15289016,N,C_ID_f5d0d34e07,159,N,999,C,222,M_ID_567b203919,-1,-0.480939,2018-01-24 17:05:17,1.0,9,21
22380977,N,C_ID_f5e24fb9ea,17,N,999,C,80,M_ID_26d4fadb60,-2,-0.700025,2017-01-07 19:20:45,4.0,22,37
20853532,N,C_ID_f60922b186,19,N,999,C,422,M_ID_9ce9c03187,-5,-0.469669,2017-09-29 15:05:17,1.0,9,27
13812961,N,C_ID_f6f6b5ce8a,69,N,999,C,45,M_ID_055af1e313,-5,0.009557,2017-09-18 18:50:16,1.0,9,18
14142664,N,C_ID_f8bc9b9bf8,272,N,999,C,68,M_ID_f4c83efed5,-7,-0.311890,2017-07-04 10:27:34,1.0,9,27
27441309,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:02:02,1.0,15,7
27441292,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:03:28,1.0,15,7
27441288,N,C_ID_f8beeb608f,158,N,999,C,246,M_ID_0bef30db30,0,45.835279,2018-02-09 14:08:48,1.0,15,7
22905099,N,C_ID_fb6db6adaa,216,N,999,C,356,M_ID_96b6772314,-13,0.041819,2017-01-07 09:01:08,5.0,20,21
11925034,N,C_ID_fbce6b2487,140,N,999,C,796,M_ID_d50952948a,-9,0.344919,2017-05-25 17:00:40,1.0,9,10
27831437,N,C_ID_fe57f79f61,149,N,999,C,834,M_ID_efb1bcf509,0,-0.347203,2018-02-08 18:51:49,5.0,20,27
25226645,N,C_ID_fed2529e7b,117,N,999,C,356,M_ID_bcd86e0334,-8,0.645299,2017-06-23 18:32:31,4.0,13,21

In [16]:
#installments 999인 index
install_999 = history.loc[history.installments==999, :].index.tolist()

In [20]:
install_999[0]

227606

In [26]:
install_999_p = []

In [18]:
sort_index

array([19095871, 19095846, 19095840, ..., 22821171, 22821184, 22821209])

In [27]:
for a in install_999 :
    install_999_p.append(sort_index[np.where(sort_index == a)[0][0]+1])

In [33]:
len(install_999) == len(install_999_p)

True

In [36]:
index_merge = list(zip(install_999, install_999_p))

In [38]:
index_merge[0]

(227606, 227803)

In [45]:
tf_sum = []

for i_m in index_merge :
    tf_sum.append(sum(history.iloc[i_m[0],:] == history.iloc[i_m[1],:]))

In [56]:
tf_sum = np.array(tf_sum)
tf_sum_where = np.where(tf_sum < 10)
tf_sum_where[0]

array([  9,  31,  34,  36,  42,  49,  55,  58,  67,  74,  85,  92,  94,
       100, 123, 129, 130, 133, 138, 139, 142, 152, 155, 170, 174, 182,
       186], dtype=int64)

In [52]:
#999떴는데 바로 재결제 안 한 값들
not_re_purchase = pd.DataFrame(columns=history.columns)
not_re_purchase

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id]
Index: []

In [ ]:
not_re_purchase = pd.concat([not_re_purchase, ])

In [57]:
for where in tf_sum_where[0] :
    not_re_purchase = pd.concat([not_re_purchase,history.iloc[[index_merge[where][0], index_merge[where][1]], :]])

In [58]:
not_re_purchase

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
2063505,N,C_ID_0a3724504a,279,N,999,C,667,M_ID_45bfdc72e8,-4,-0.259147,2017-10-13 18:46:21,1.0,9,21
2063635,Y,C_ID_0a3724504a,69,N,1,B,278,M_ID_45c70efb27,-9,-0.656749,2017-05-18 20:13:52,1.0,9,37
8306029,N,C_ID_eb063adeca,280,N,999,C,333,M_ID_c7e404e68b,-10,3.761046,2017-04-03 11:13:03,3.0,1,10
8306019,Y,C_ID_eb063adeca,277,N,1,B,683,M_ID_c9000570e6,-5,-0.638717,2017-09-28 13:03:28,4.0,13,34
8549841,N,C_ID_09dcde8f3c,137,N,999,C,891,M_ID_d0d69f7b22,-8,1.431335,2017-05-20 13:34:50,3.0,19,29
8549796,Y,C_ID_09dcde8f3c,147,N,1,B,690,M_ID_e12102d71d,-6,-0.697380,2017-07-08 12:29:53,3.0,19,1
8885782,N,C_ID_b1fe6776d4,-1,N,999,C,373,M_ID_7990ce34c9,-7,-0.506484,2017-07-07 13:30:26,NaN,-1,18
8885601,Y,C_ID_b1fe6776d4,-1,N,1,B,278,M_ID_7b3b569b07,-8,-0.700566,2017-06-17 13:24:13,NaN,-1,37
9958645,Y,C_ID_875f80a30c,340,N,999,C,840,M_ID_995feeec61,-3,4.435736,2017-09-20 18:21:42,1.0,9,20
9958734,Y,C_ID_875f80a30c,340,N,1,B,504,M_ID_9960e8263f,-2,-0.643225,2017-10-01 03:30:28,1.0,9,25
11925034,N,C_ID_fbce6b2487,140,N,999,C,796,M_ID_d50952948a,-9,0.344919,2017-05-25 17:00:40,1.0,9,10
11925063,Y,C_ID_fbce6b2487,140,N,2,C,360,M_ID_d99a5e3629,-10,0.009076,2017-04-25 16:34:35,1.0,9,34
13217227,N,C_ID_509ecf243e,137,N,999,C,309,M_ID_a26b93f935,-4,0.525672,2017-09-08 14:32:35,3.0,19,21
13217201,Y,C_ID_509ecf243e,137,N,1,B,45,M_ID_c8765509d7,0,-0.607161,2018-01-31 12:12:34,3.0,19,18
13456426,N,C_ID_2e39f9fd94,340,N,999,C,840,M_ID_00f803a717,-4,0.754241,2017-10-28 17:54:47,1.0,9,20
13456469,Y,C_ID_2e39f9fd94,340,N,5,C,884,M_ID_03557bb5b3,0,0.116891,2018-02-04 20:06:32,1.0,9,27
14557683,N,C_ID_1e9acd6799,126,N,999,C,222,M_ID_32dd24da5d,-5,-0.296112,2017-06-20 18:08:27,4.0,4,21
14557652,Y,C_ID_1e9acd6799,126,N,2,C,387,M_ID_364863fb51,-9,-0.442170,2017-02-17 14:03:42,4.0,4,36
16172859,Y,C_ID_4d3dbbbb1f,159,N,999,C,840,M_ID_e243972510,-2,0.755743,2017-12-28 19:27:12,1.0,9,20
16172898,Y,C_ID_4d3dbbbb1f,340,N,3,C,68,M_ID_f2534ac502,-3,-0.191678,2017-11-12 21:56:56,1.0,9,27
18320765,N,C_ID_b6aad051c3,333,N,999,C,560,M_ID_c5dada2dca,-8,-0.468602,2017-03-11 17:49:15,5.0,21,34
18320789,Y,C_ID_b6aad051c3,333,N,1,B,560,M_ID_c5dada2dca,-3,-0.618055,2017-08-10 15:23:54,5.0,21,34
18541556,N,C_ID_1fa5e84ac3,-1,Y,999,C,690,M_ID_3111c6df35,-3,1.619738,2017-11-27 13:41:26,NaN,-1,1
18541451,Y,C_ID_1fa5e84ac3,69,N,4,C,222,M_ID_32ae418597,-4,-0.118739,2017-10-04 23:46:05,1.0,9,21
19280910,N,C_ID_9a7dd5b45d,333,N,999,C,357,M_ID_069b11f6ac,-12,-0.452388,2017-02-01 18:53:25,5.0,21,27
19280904,Y,C_ID_9a7dd5b45d,333,N,1,B,357,M_ID_069b11f6ac,-12,-0.602653,2017-02-01 18:54:09,5.0,21,27
20237835,N,C_ID_84095e0b87,110,N,999,C,737,M_ID_df671a3748,-12,-0.701828,2017-02-06 17:49:22,1.0,16,18
20237773,Y,C_ID_84095e0b87,331,N,1,B,705,M_ID_e5c1aedbfe,-1,-0.703541,2018-01-22 15:11:23,1.0,16,33
23198716,N,C_ID_2837956016,69,N,999,C,278,M_ID_f86439cec0,-1,-0.233001,2017-12-03 21:39:10,1.0,9,37
23198692,Y,C_ID_2837956016,69,N,1,B,278,M_ID_f86439cec0,-1,-0.315647,2017-12-03 21:40:59,1.0,9,37
23593514,N,C_ID_c5605a0e9f,137,N,999,C,705,M_ID_c063bc0758,-9,-0.721648,2017-05-29 15:31:49,3.0,19,33
23593467,Y,C_ID_c5605a0e9f,137,N,1,B,705,M_ID_c063bc0758,-7,-0.675697,2017-07-28 11:04:55,3.0,19,33
23974668,N,C_ID_7c324f3b6e,-1,Y,999,C,210,M_ID_6464db3b45,-3,2.677785,2017-10-31 20:17:15,NaN,-1,35
23974747,Y,C_ID_7c324f3b6e,17,N,1,B,506,M_ID_65c0452e8c,-11,-0.724969,2017-02-08 13:45:55,4.0,22,30
24251967,Y,C_ID_82e68c6826,174,N,999,C,840,M_ID_fcb061b2bf,-5,1.806097,2017-09-21 16:37:51,1.0,9,20
11525390,Y,C_ID_82e70dae11,69,N,0,A,511,M_ID_00a6ca8a8a,-12,-0.716103,2017-02-07 16:00:08,1.0,9,7
24706122,N,C_ID_2f1d667b2d,272,N,999,C,111,M_ID_c849681200,-8,6.913157,2017-06-24 11:52:34,1.0,9,36
24706161,Y,C_ID_2f1d667b2d,272,N,1,B,683,M_ID_cd3edaa437,-5,-0.648995,2017-09-17 13:50:04,1.0,9,34
24812024,N,C_ID_93e8eb2aa7,174,N,999,C,840,M_ID_fcb061b2bf,-3,0.002915,2017-11-24 17:24:52,1.0,9,20
24812080,Y,C_ID_93e8eb2aa7,174,N,10,C,840,M_ID_fcb061b2bf,0,-0.274023,2018-02-28 10:17:49,1.0,9,20
24919834,N,C_ID_867295e132,138,N,999,C,307,M_ID_160add9e7a,-1,-0.371245,2018-01-30 12:09:40,1.0,15,19
24919842,Y,C_ID_867295e132,138,N,3,C,222,M_ID_1d56817eb9,-4,-0.111737,2017-10-11 15:03:26,1.0,15,21
26194769,N,C_ID_d1e2f124ee,-1,N,999,C,437,M_ID_16f6c7fc91,-11,0.700611,2017-03-03 19:41:12,NaN,-1,15
26194747,Y,C_ID_d1e2f124ee,-1,N,3,C,437,M_ID_16f6c7fc91,-11,0.605478,2017-03-03 19:42:25,NaN,-1,15
26449849,N,C_ID_ca5df2334e,-1,N,999,C,373,M_ID_fac3b84751,-2,0.049497,2017-01-11 11:31:46,NaN,-1,18
3735553,Y,C_ID_ca5dfc4adb,69,N,0,A,511,M_ID_00a6ca8a8a,-13,-0.701828,2017-01-21 14:28:45,1.0,9,7
27935666,N,C_ID_f4469d2e92,334,N,999,C,703,M_ID_12149ead3c,0,-0.486048,2018-02-16 17:19:10,5.0,20,29
27935658,Y,C_ID_f4469d2e92,334,N,1,B,705,M_ID_3c1eb4aa1e,-5,-0.469473,2017-09-12 19:11:35,5.0,20,33
28258830,N,C_ID_0a0fcf2fc3,137,N,999,C,544,M_ID_a5e5e3e2cc,-5,-0.623690,2017-09-27 17:44:56,3.0,19,29
28258845,Y,C_ID_0a0fcf2fc3,137,N,1,B,705,M_ID_b1fc88154d,-13,-0.642188,2017-01-24 23:54:59,3.0,19,33
28902917,Y,C_ID_1947a910eb,174,N,999,C,840,M_ID_fcb061b2bf,-2,2.709190,2017-12-17 22:36:08,1.0,9,20
20040623,Y,C_ID_1947e99ad8,69,N,0,A,879,M_ID_00a6ca8a8a,-1,-0.686802,2018-01-07 22:01:28,1.0,9,29
29018065,Y,C_ID_6715eccea8,174,N,999,C,840,M_ID_fcb061b2bf,-2,0.491983,2017-11-23 23:24:39,1.0,9,20
23845708,Y,C_ID_67161e66db,69,N,0,A,879,M_ID_00a6ca8a8a,-2,-0.438864,2017-10-05 20:36:12,1.0,9,29

In [74]:
history.loc[(history.card_id=='C_ID_0a3724504a') & (history.merchant_id == 'M_ID_45bfdc72e8'), :].sort_values(['purchase_date'],ascending=True)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
2063667,Y,C_ID_0a3724504a,279,N,6,C,667,M_ID_45bfdc72e8,-4,0.167005,2017-10-13 11:49:52,1.0,9,21
2063505,N,C_ID_0a3724504a,279,N,999,C,667,M_ID_45bfdc72e8,-4,-0.259147,2017-10-13 18:46:21,1.0,9,21

In [75]:
history.loc[(history.card_id=='C_ID_eb063adeca') & (history.merchant_id == 'M_ID_c7e404e68b'), :].sort_values(['purchase_date'],ascending=True)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
8306029,N,C_ID_eb063adeca,280,N,999,C,333,M_ID_c7e404e68b,-10,3.761046,2017-04-03 11:13:03,3.0,1,10

In [144]:
history.loc[history.card_id=='C_ID_7670e569a0', :].sort_values(['merchant_id','purchase_date']).loc[history.installments!=1,
    history.columns.str.endswith('_id') | history.columns.str.startswith('purchase')|history.columns.str.endswith('installments')
     | history.columns.str.endswith('flag')]

,authorized_flag,card_id,city_id,installments,merchant_category_id,merchant_id,purchase_amount,purchase_date,state_id,subsector_id
466519,Y,C_ID_7670e569a0,69,3,879,M_ID_00a6ca8a8a,-0.183864,2017-08-31 15:28:01,9,29
466556,Y,C_ID_7670e569a0,116,3,309,M_ID_59764e8cb1,-0.231949,2018-01-12 18:13:41,9,21
466408,Y,C_ID_7670e569a0,116,2,506,M_ID_62826cd868,-0.630452,2017-02-04 12:28:52,9,30
466430,Y,C_ID_7670e569a0,19,2,419,M_ID_85908af96b,-0.621782,2017-03-02 20:32:34,9,1
466480,Y,C_ID_7670e569a0,116,2,299,M_ID_85c4fac890,-0.326165,2017-12-12 13:06:58,9,41
466561,Y,C_ID_7670e569a0,116,2,884,M_ID_89c0061232,-0.445175,2017-07-29 16:55:40,9,27
466537,Y,C_ID_7670e569a0,116,2,45,M_ID_89eb7d619c,-0.371245,2017-02-07 17:16:29,9,18
466406,Y,C_ID_7670e569a0,283,2,45,M_ID_8e28d23e43,-0.372748,2017-03-28 13:50:16,9,18
466453,Y,C_ID_7670e569a0,-1,4,879,M_ID_9139332ccc,-0.476581,2017-07-15 22:11:54,-1,29
466425,Y,C_ID_7670e569a0,283,3,690,M_ID_b1f5106545,0.378578,2017-12-11 16:16:28,9,1
466567,Y,C_ID_7670e569a0,19,2,422,M_ID_c2f0c8ce38,-0.641872,2017-04-29 16:09:23,9,27
466436,N,C_ID_7670e569a0,333,999,813,M_ID_c9526f2dd3,-0.443673,2017-04-12 21:06:28,21,29
466568,Y,C_ID_7670e569a0,333,2,813,M_ID_c9526f2dd3,-0.443673,2017-04-12 21:07:02,21,29
466396,Y,C_ID_7670e569a0,19,3,87,M_ID_d0146c836a,-0.521510,2017-03-02 20:45:22,9,27

In [145]:
history.loc[history.card_id=='C_ID_06fca19c8e', :].sort_values(['merchant_id','purchase_date']).loc[history.installments!=1,
    history.columns.str.endswith('_id') | history.columns.str.startswith('purchase')|history.columns.str.endswith('installments')
     | history.columns.str.endswith('flag')]

,authorized_flag,card_id,city_id,installments,merchant_category_id,merchant_id,purchase_amount,purchase_date,state_id,subsector_id
21241135,Y,C_ID_06fca19c8e,69,2,511,M_ID_00a6ca8a8a,-0.446378,2017-02-04 14:01:52,9,7
21241127,Y,C_ID_06fca19c8e,69,4,879,M_ID_00a6ca8a8a,1.083983,2017-04-11 14:54:45,9,29
21241129,Y,C_ID_06fca19c8e,69,2,879,M_ID_00a6ca8a8a,-0.589866,2017-06-07 15:52:11,9,29
21241131,Y,C_ID_06fca19c8e,69,5,879,M_ID_00a6ca8a8a,0.934078,2018-01-12 11:09:42,9,29
21241124,Y,C_ID_06fca19c8e,331,3,45,M_ID_0a80430edc,-0.566590,2017-01-16 10:43:23,16,18
21241134,Y,C_ID_06fca19c8e,331,5,422,M_ID_2da30dd32e,-0.331425,2017-05-29 15:43:59,16,27
21241117,Y,C_ID_06fca19c8e,331,3,834,M_ID_4f7d382437,-0.498970,2017-07-26 15:29:58,16,27
21241132,N,C_ID_06fca19c8e,331,999,222,M_ID_629b908f04,1.036739,2017-08-10 13:26:40,16,21
21241119,Y,C_ID_06fca19c8e,331,7,222,M_ID_629b908f04,1.036739,2017-08-10 13:27:31,16,21
21241118,Y,C_ID_06fca19c8e,331,6,222,M_ID_629b908f04,-0.069167,2017-10-05 11:41:48,16,21
21241114,Y,C_ID_06fca19c8e,331,8,222,M_ID_629b908f04,1.492869,2017-10-16 17:03:06,16,21
21241116,Y,C_ID_06fca19c8e,331,3,222,M_ID_629b908f04,-0.418639,2017-10-25 10:41:13,16,21
21241137,Y,C_ID_06fca19c8e,331,3,45,M_ID_93f89c5619,-0.446378,2017-05-18 10:26:31,16,18
21241122,Y,C_ID_06fca19c8e,175,6,309,M_ID_9da36a9a86,-0.282589,2017-08-25 15:41:15,16,21
21241115,Y,C_ID_06fca19c8e,331,6,87,M_ID_cd47f9977b,0.646951,2017-02-06 11:00:31,16,27
21241136,Y,C_ID_06fca19c8e,331,6,87,M_ID_cd47f9977b,0.107199,2017-04-29 12:10:39,16,27
21241130,Y,C_ID_06fca19c8e,331,6,87,M_ID_fd7f559769,0.123127,2017-06-20 11:14:03,16,27

#### -1

In [147]:
history.sort_values(['card_id','merchant_id','purchase_date']).loc[history.installments==-1, :]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
26539109,Y,C_ID_0001238066,187,N,-1,NaN,367,M_ID_3f35ef9a50,-1,-0.605012,2018-01-06 12:14:16,1.0,15,16
26539231,Y,C_ID_0001238066,-1,N,-1,NaN,333,M_ID_40d7b120ab,-1,0.244842,2018-01-18 13:58:35,NaN,-1,10
26539141,Y,C_ID_0001238066,160,N,-1,NaN,451,M_ID_970d4d00da,-1,-0.161475,2018-01-23 11:44:30,5.0,21,7
6867524,Y,C_ID_000183fdda,161,N,-1,NaN,422,M_ID_4b99ea1c74,-1,-0.536537,2018-01-12 12:18:39,3.0,3,27
6867550,Y,C_ID_000183fdda,87,N,-1,NaN,369,M_ID_67894eed56,-2,-0.506634,2017-12-28 16:56:20,3.0,11,27
6867520,Y,C_ID_000183fdda,161,N,-1,NaN,68,M_ID_f4e377b35d,-2,-0.091752,2017-12-29 11:31:47,3.0,3,27
6867557,Y,C_ID_000183fdda,161,N,-1,NaN,68,M_ID_f4e377b35d,-1,-0.460833,2018-01-12 10:33:26,3.0,3,27
20951627,Y,C_ID_0002709b5a,103,N,-1,NaN,60,M_ID_5bb84e5819,-4,-0.645779,2017-10-28 00:00:00,2.0,18,13
10374909,Y,C_ID_0003be3c83,279,N,-1,NaN,63,M_ID_d0146c836a,-1,-0.671925,2018-01-06 07:34:03,1.0,9,27
22652959,Y,C_ID_00042d509c,137,N,-1,NaN,544,M_ID_bced6871aa,-2,-0.683195,2017-10-12 03:00:00,3.0,19,29
22652956,N,C_ID_00042d509c,137,N,-1,NaN,367,M_ID_f9d492675f,0,-0.662068,2017-12-22 18:54:49,3.0,19,16
18686508,N,C_ID_0004725b87,179,N,-1,NaN,422,M_ID_8a81307d4c,-1,-0.656899,2018-01-13 11:12:37,NaN,-1,27
18686490,N,C_ID_0004725b87,179,N,-1,NaN,422,M_ID_8a81307d4c,-1,-0.656899,2018-01-13 11:13:08,NaN,-1,27
19534899,Y,C_ID_0004c2a5ab,69,N,-1,NaN,506,M_ID_79e535fd17,-3,-0.504004,2017-11-11 00:00:00,1.0,9,30
17197235,Y,C_ID_0007fe3157,175,N,-1,NaN,309,M_ID_bf77cc64a0,-1,-0.521675,2018-01-13 15:51:43,1.0,16,21
17197120,Y,C_ID_0007fe3157,175,N,-1,NaN,651,M_ID_dc2b93c2fe,-3,0.094577,2017-11-20 00:00:00,1.0,16,2
17197271,Y,C_ID_0007fe3157,175,N,-1,NaN,419,NaN,0,0.385640,2018-02-27 10:06:34,1.0,16,1
28958606,Y,C_ID_0008461020,-1,Y,-1,NaN,823,M_ID_51a6ad6c54,-1,0.201611,2018-01-08 09:46:40,NaN,-1,25
27194620,Y,C_ID_0009010641,88,N,-1,NaN,68,M_ID_85768400b2,-1,-0.446528,2018-01-13 19:51:11,1.0,16,27
27194630,Y,C_ID_0009010641,88,N,-1,NaN,130,M_ID_e8fb39882d,0,-0.521510,2018-02-08 18:38:51,1.0,16,41
28408350,Y,C_ID_000950bc78,275,N,-1,NaN,222,M_ID_f6368c2fc0,-4,-0.431351,2017-10-19 00:00:00,1.0,15,21
28390010,Y,C_ID_000a9864df,210,N,-1,NaN,434,M_ID_58b2e55259,-2,-0.266059,2017-12-21 09:37:05,1.0,16,32
13024859,Y,C_ID_000b13135b,96,N,-1,NaN,222,M_ID_216fe803f8,-4,-0.596643,2017-10-14 00:00:00,2.0,24,21
24617440,N,C_ID_000b503737,101,N,-1,NaN,412,M_ID_ed401c6cd2,-3,0.830876,2017-11-17 00:00:00,4.0,4,18
24617543,N,C_ID_000b503737,101,N,-1,NaN,412,M_ID_ed401c6cd2,-3,0.830876,2017-11-18 00:00:00,4.0,4,18
6651310,Y,C_ID_000b72c028,19,N,-1,NaN,412,M_ID_463078dd8a,0,-0.491457,2018-02-14 10:32:27,1.0,9,18
6651327,Y,C_ID_000b72c028,261,N,-1,NaN,298,M_ID_7ab085ea89,-1,-0.656749,2018-01-30 11:20:47,1.0,9,10
25672848,Y,C_ID_000c1a998b,2,N,-1,NaN,497,M_ID_123d0b8bcd,-4,-0.567191,2017-10-21 00:00:00,3.0,11,27
25672822,Y,C_ID_000c1a998b,87,N,-1,NaN,703,M_ID_876ee05d90,-3,-0.289200,2017-11-23 00:00:00,3.0,11,29
25672828,Y,C_ID_000c1a998b,2,N,-1,NaN,68,M_ID_92786a8f05,-3,-0.596793,2017-11-08 00:00:00,3.0,11,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28791388,Y,C_ID_fff4ed08c5,333,N,-1,NaN,333,M_ID_239584c2b8,-2,-0.039159,2017-12-12 08:26:38,1.0,9,10
23537197,Y,C_ID_fff50ce0e0,299,N,-1,NaN,690,M_ID_345e82b656,-2,-0.619182,2017-12-03 08:07:20,1.0,9,1
23537200,N,C_ID_fff50ce0e0,291,N,-1,NaN,834,M_ID_39d2ef5e27,-2,-0.175915,2017-12-11 12:54:26,1.0,9,27
23537186,Y,C_ID_fff50ce0e0,69,N,-1,NaN,68,M_ID_879f625c89,-3,-0.566590,2017-11-21 00:00:00,1.0,9,27
27255769,Y,C_ID_fff678cf7b,250,N,-1,NaN,422,M_ID_846cf1d05e,-1,0.079535,2018-01-02 17:33:30,1.0,9,27
27255787,Y,C_ID_fff678cf7b,250,N,-1,NaN,531,M_ID_a0c5e1c408,0,-0.488602,2018-02-26 15:45:22,1.0,9,27
27255795,Y,C_ID_fff678cf7b,69,N,-1,NaN,63,M_ID_d13262f4b0,0,-0.296112,2018-02-17 08:13:51,1.0,9,27
21298146,Y,C_ID_fff8874bc1,251,N,-1,NaN,671,M_ID_4c0a53251c,0,-0.145847,2018-02-06 09:18:22,3.0,8,7
21298170,Y,C_ID_fff8874bc1,170,N,-1,NaN,683,M_ID_a70ac792d2,-1,-0.296112,2018-01-20 09:00:14,3.0,8,34
21298162,N,C_ID_fff8874bc1,251,N,-1,NaN,45,M_ID_adf4a2ee60,0,-0.085741,2018-02-17 09:28:23,3.0,8,18
21298149,Y,C_ID_fff8874bc1,251,N,-1,NaN,650,NaN,-1,-0.070715,2018-01-23 14:15:39,3.0,8,29
22954431,Y,C_ID_fffaed41f0,288,N,-1,NaN,63,M_ID_57d818cda8,-1,-0.533982,2018-01-23 15:13:08,5.0,20,27
22954396,Y,C_ID_fffaed41f0,149,N,-1,NaN,422,M_ID_bc951863d9,0,-0.554193,2018-02-06 14:04:16,5.0,20,27
22954404,Y,C_ID_fffaed41f0,334,N,-1,NaN,518,M_ID_d39f7029e3,-3,-0.626696,2017-11-23 00:00:00,5.0,20,27
9864658,Y,C_ID_fffea6de74,87,N,-1,NaN,222,M_ID_5278375b22,0,-0.383567,2018-02-17 11:41:38,3.0,11,21
9864469,Y,C_ID_fffea6de74,87,N,-1,NaN,130,M_ID_697955825d,-4,3.761046,2017-10-05 00:00:00,3.0,11,41
9864488,Y,C_ID_fffea6de74,87,N,-1,NaN,434,M_ID_a44f8af310,0,-0.444965,2018-02-17 10:53:38,3.0,11,32
9864713,Y,C_ID_fffea6de74,87,N,-1,NaN,412,M_ID_ba36727a74,-2,-0.205953,2017-12-20 15:18:40,3.0,11,18
9864666,Y,C_ID_fffea6de74,87,N,-1,NaN,34,M_ID_ba6ea47a5c,-2,-0.360726,2017-12-24 14:28:26,3.0,11,38
9864453,Y,C_ID_fffea6de74,87,N,-1,NaN,45,M_ID_f24eef407d,-1,-0.236006,2018-01-02 13:27:51,3.0,11,18
16599044,Y,C_ID_fffeced303,158,N,-1,NaN,87,M_ID_2ead130f06,-3,-0.356519,2017-11-18 00:00:00,1.0,15,27
16599203,N,C_ID_fffeced303,158,N,-1,NaN,87,M_ID_2ead130f06,-3,-0.266510,2017-11-18 00:00:00,1.0,15,27
12611832,Y,C_ID_fffeed3a89,143,N,-1,NaN,68,M_ID_0a0b3229b6,-2,-0.447880,2017-12-28 12:42:51,5.0,5,27
12611933,Y,C_ID_fffeed3a89,143,N,-1,NaN,369,M_ID_4305599ca2,-2,-0.539542,2017-12-21 09:32:12,5.0,5,27
12611908,Y,C_ID_fffeed3a89,143,N,-1,NaN,419,M_ID_47e5f3482a,-2,-0.461705,2017-12-21 17:10:03,5.0,5,1
12611878,Y,C_ID_fffeed3a89,143,N,-1,NaN,367,M_ID_5d22b76724,-2,-0.488602,2017-12-28 09:38:04,5.0,5,16
12611800,Y,C_ID_fffeed3a89,143,N,-1,NaN,422,M_ID_b3204d70dc,-2,-0.476581,2017-12-21 16:40:46,5.0,5,27
22560003,Y,C_ID_ffff1d9928,114,N,-1,NaN,63,M_ID_4f51748e2a,-4,-0.416325,2017-10-26 00:00:00,4.0,4,27
2604689,Y,C_ID_ffff828181,24,N,-1,NaN,834,M_ID_e2fdc5b2f3,-2,-0.359224,2017-12-29 10:10:05,1.0,9,27
22821205,Y,C_ID_fffffd5772,-1,N,-1,NaN,87,M_ID_e80ebae5da,-3,-0.518505,2017-11-09 00:00:00,NaN,-1,27

# category_2

In [93]:
category2_null = history.loc[history.category_2.isnull(), :].sort_values(['card_id', 'merchant_id','purchase_date'], ascending=True)

In [95]:
category2_null.shape

(2652864, 14)

In [96]:
print('category2_null 중에서 unique card_id : ', len(category2_null.card_id.unique()) )
print('category2_null 중에서 unique merchant_id : ', len(category2_null.merchant_id.unique()) )

category2_null 중에서 unique card_id :  167432
category2_null 중에서 unique merchant_id :  15954

In [97]:
category2_null.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
19095862,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:20:37,NaN,-1,8
19095805,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:29:12,NaN,-1,8
19095883,N,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-8,-0.728876,2017-06-14 14:18:48,NaN,-1,8
19095874,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-8,-0.721363,2017-06-14 14:22:05,NaN,-1,8
19095778,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-7,-0.709342,2017-07-03 15:43:57,NaN,-1,8

In [100]:
history.loc[history.card_id == 'C_ID_00007093c1', : ].sort_values(['purchase_date'])

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
19095896,Y,C_ID_00007093c1,244,N,2,C,705,M_ID_69423b34e4,-12,0.037176,2017-02-14 14:00:43,3.0,2,33
19095775,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_a33355a1b7,-12,-0.467415,2017-02-14 15:47:45,3.0,2,33
19095845,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-12,-0.572600,2017-02-16 15:37:58,3.0,2,19
19095866,Y,C_ID_00007093c1,244,N,3,C,705,M_ID_a33355a1b7,-12,-0.331575,2017-02-20 12:19:01,3.0,2,33
19095808,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.483944,2017-03-03 00:24:15,3.0,2,19
19095905,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.572600,2017-03-06 18:50:42,3.0,2,19
19095780,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-11,-0.401298,2017-03-08 15:05:29,3.0,2,33
19095816,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.656749,2017-03-08 16:12:35,3.0,2,19
19095833,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-11,-0.566590,2017-03-11 15:04:31,3.0,2,33
19095922,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-11,-0.677936,2017-03-11 15:10:15,3.0,2,33
19095885,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-11,-0.566590,2017-03-11 15:26:58,3.0,2,33
19095855,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.557574,2017-03-11 16:28:46,3.0,2,19
19095882,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.557574,2017-03-11 16:29:20,3.0,2,19
19095837,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-11,-0.671775,2017-03-15 17:13:38,3.0,2,19
19095900,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_bc3f2e986e,-10,-0.692061,2017-04-17 19:19:54,3.0,2,33
19095787,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_bc3f2e986e,-10,-0.668319,2017-04-17 19:22:18,3.0,2,33
19095910,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-10,-0.578611,2017-04-17 19:37:08,3.0,2,19
19095862,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:20:37,NaN,-1,8
19095805,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:29:12,NaN,-1,8
19095781,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-10,-0.656749,2017-04-17 21:31:17,3.0,2,19
19095891,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-10,0.004418,2017-04-19 11:46:58,3.0,2,33
19095841,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-10,-0.418654,2017-04-19 12:19:08,3.0,2,33
19095858,N,C_ID_00007093c1,244,N,1,B,705,M_ID_8261f7a734,-10,-0.311139,2017-04-19 12:34:46,3.0,2,33
19095873,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_8261f7a734,-10,-0.446378,2017-04-19 12:35:45,3.0,2,33
19095815,N,C_ID_00007093c1,244,N,1,B,705,M_ID_8261f7a734,-10,-0.611669,2017-04-19 12:36:29,3.0,2,33
19095884,N,C_ID_00007093c1,244,N,1,B,705,M_ID_8261f7a734,-10,-0.671775,2017-04-19 12:36:49,3.0,2,33
19095875,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-9,-0.596447,2017-05-11 18:56:46,3.0,2,19
19095898,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-9,-0.623690,2017-05-15 14:50:52,3.0,2,19
19095908,Y,C_ID_00007093c1,244,N,1,B,367,M_ID_109e9d2b1d,-9,-0.587627,2017-05-16 17:16:11,3.0,2,16
19095776,N,C_ID_00007093c1,244,N,1,B,108,M_ID_15446e939c,-9,0.307953,2017-05-18 16:52:22,3.0,2,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19095868,Y,C_ID_00007093c1,244,N,1,B,222,M_ID_ee8fcd02ca,-2,-0.353213,2017-12-07 17:48:54,3.0,2,21
19095915,N,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-2,-0.145847,2017-12-09 11:34:09,3.0,2,33
19095814,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-2,-0.641677,2017-12-09 13:59:34,3.0,2,19
19095918,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-2,-0.701753,2017-12-13 20:07:17,3.0,2,19
19095909,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-2,-0.671775,2017-12-13 20:08:05,3.0,2,19
19095832,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-2,-0.553066,2017-12-28 18:25:55,3.0,2,19
19095902,Y,C_ID_00007093c1,244,N,3,C,45,M_ID_58fa2d2ab7,-2,-0.311139,2017-12-30 13:06:45,3.0,2,18
19095917,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-2,-0.617635,2017-12-30 16:29:38,3.0,2,19
19095857,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-1,-0.709342,2018-01-01 05:07:37,NaN,-1,8
19095779,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_5357547c3e,-1,-0.392282,2018-01-05 13:55:01,3.0,2,19
19095782,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_a33355a1b7,-1,-0.418443,2018-01-08 16:15:07,3.0,2,33
19095860,Y,C_ID_00007093c1,244,N,1,B,705,M_ID_69423b34e4,-1,-0.446378,2018-01-08 16:58:13,3.0,2,33
19095848,Y,C_ID_00007093c1,244,N,1,B,45,M_ID_2efbd71a00,-1,-0.668770,2018-01-08 18:13:40,3.0,2,18
19095920,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-1,-0.521510,2018-01-08 18:58:43,3.0,2,19
19095823,N,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-1,-0.596643,2018-01-08 18:59:09,3.0,2,19
19095853,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-1,-0.671775,2018-01-08 18:59:38,3.0,2,19
19095812,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-1,-0.709342,2018-01-30 05:06:15,NaN,-1,8
19095806,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_9400cf2342,-1,-0.551563,2018-01-30 19:27:40,3.0,2,19
19095861,Y,C_ID_00007093c1,244,N,1,B,307,M_ID_5357547c3e,0,-0.530030,2018-02-02 18:28:53,3.0,2,19
19095785,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,0,-0.721363,2018-02-05 08:56:11,NaN,-1,8
19095844,Y,C_ID_00007093c1,76,N,5,C,45,M_ID_84e60960a3,0,0.004418,2018-02-06 15:34:09,3.0,2,18
19095865,Y,C_ID_00007093c1,76,N,1,B,818,M_ID_c6ca6282e6,0,-0.623690,2018-02-07 07:34:15,3.0,2,12
19095792,N,C_ID_00007093c1,76,N,2,C,206,M_ID_584ad6cd63,0,-0.501224,2018-02-07 09:50:43,3.0,2,1
19095800,Y,C_ID_00007093c1,76,N,2,C,206,M_ID_584ad6cd63,0,-0.501224,2018-02-07 09:51:03,3.0,2,1
19095811,Y,C_ID_00007093c1,76,N,2,C,206,M_ID_584ad6cd63,0,-0.501224,2018-02-07 09:54:23,3.0,2,1
19095859,Y,C_ID_00007093c1,76,N,1,B,437,M_ID_06a8d84366,0,-0.435198,2018-02-07 11:11:27,3.0,2,15
19095870,N,C_ID_00007093c1,76,N,1,B,705,M_ID_d96a11b2df,0,-0.463042,2018-02-08 16:35:37,3.0,2,33
19095903,N,C_ID_00007093c1,76,N,1,B,705,M_ID_d96a11b2df,0,-0.596643,2018-02-08 16:36:19,3.0,2,33
19095786,N,C_ID_00007093c1,76,N,1,B,705,M_ID_d96a11b2df,0,-0.671775,2018-02-08 16:37:19,3.0,2,33
19095877,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,0,-0.709342,2018-02-27 05:14:57,NaN,-1,8

In [99]:
history.loc[(history.card_id == 'C_ID_00007093c1') & (history.merchant_id == 'M_ID_57df19bf28')]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
19095778,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-7,-0.709342,2017-07-03 15:43:57,NaN,-1,8
19095785,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,0,-0.721363,2018-02-05 08:56:11,NaN,-1,8
19095790,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-6,-0.721363,2017-08-07 17:46:13,NaN,-1,8
19095797,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-7,-0.721363,2017-07-14 11:51:05,NaN,-1,8
19095802,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-3,-0.721363,2017-11-10 15:34:30,NaN,-1,8
19095803,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-4,-0.721363,2017-10-02 15:37:23,NaN,-1,8
19095805,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:29:12,NaN,-1,8
19095809,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-5,-0.709342,2017-09-04 15:07:02,NaN,-1,8
19095810,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-4,-0.709342,2017-10-01 08:05:54,NaN,-1,8
19095812,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-1,-0.709342,2018-01-30 05:06:15,NaN,-1,8
19095817,N,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-4,-0.671941,2017-10-28 16:13:10,NaN,-1,8
19095820,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-3,-0.721363,2017-11-20 17:27:59,NaN,-1,8
19095825,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-4,-0.709342,2017-10-02 12:40:58,NaN,-1,8
19095826,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-6,-0.721363,2017-08-22 09:17:57,NaN,-1,8
19095835,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-3,-0.709342,2017-11-01 07:05:09,NaN,-1,8
19095838,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-6,-0.721363,2017-08-14 12:11:26,NaN,-1,8
19095839,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-6,-0.709342,2017-08-01 07:16:57,NaN,-1,8
19095857,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-1,-0.709342,2018-01-01 05:07:37,NaN,-1,8
19095862,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-10,-0.728876,2017-04-17 20:20:37,NaN,-1,8
19095864,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-2,-0.709342,2017-12-01 05:06:36,NaN,-1,8
19095874,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-8,-0.721363,2017-06-14 14:22:05,NaN,-1,8
19095877,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,0,-0.709342,2018-02-27 05:14:57,NaN,-1,8
19095879,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-4,-0.721363,2017-10-19 14:20:38,NaN,-1,8
19095883,N,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-8,-0.728876,2017-06-14 14:18:48,NaN,-1,8
19095887,N,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-5,-0.721363,2017-09-08 13:24:49,NaN,-1,8
19095888,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-7,-0.721363,2017-07-06 10:58:03,NaN,-1,8
19095894,Y,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-7,-0.721363,2017-07-31 16:01:04,NaN,-1,8
19095912,N,C_ID_00007093c1,-1,Y,1,B,755,M_ID_57df19bf28,-6,-0.709342,2017-08-01 07:13:59,NaN,-1,8

In [103]:
history.loc[history.merchant_id == 'M_ID_57df19bf28', 'category_2'].isnull().sum()

74153